results/0.0/Bitcoin-transactions/bitcoin-transactions-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/Bitcoin" 
           xmlns="http://example.com/Bitcoin" 
           elementFormDefault="qualified">
  <xs:element name="bitcoinTransaction" type="BitcoinTransactionType"/>
  <xs:complexType name="BitcoinTransactionType">
    <xs:sequence>
      <xs:element name="version" type="xs:unsignedInt"/>
      <xs:element name="txInCount" type="VarIntType"/>
      <xs:element name="txIn" type="TxInType" maxOccurs="unbounded"/>
      <xs:element name="txOutCount" type="VarIntType"/>
      <xs:element name="txOut" type="TxOutType" maxOccurs="unbounded"/>
      <xs:element name="lockTime" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VarIntType">
    <xs:choice>
      <xs:element name="varInt1" type="xs:unsignedByte"/>
      <xs:element name="varInt2" type="xs:unsignedShort"/>
      <xs:element name="varInt3" type="xs:unsignedInt"/>
      <xs:element name="varInt4" type="xs:unsignedInt"/>
      <xs:element name="varInt5" type="xs:unsignedLong"/>
      <xs:element name="varInt6" type="xs:unsignedLong"/>
      <xs:element name="varInt7" type="xs:unsignedLong"/>
      <xs:element name="varInt8" type="xs:unsignedLong"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TxInType">
    <xs:sequence>
      <xs:element name="txId" type="xs:hexBinary"/>
      <xs:element name="vOut" type="xs:unsignedInt"/>
      <xs:element name="scriptSig" type="ScriptType" minOccurs="0"/>
      <xs:element name="sequence" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TxOutType">
    <xs:sequence>
      <xs:element name="value" type="xs:unsignedLong"/>
      <xs:element name="scriptPubKey" type="ScriptType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScriptType">
    <xs:choice>
      <xs:element name="opCode" type="xs:unsignedByte"/>
      <xs:element name="data" type="xs:hexBinary" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>
  <xs:annotation>
    <xs:appinfo>
      <dfdl:format ref="bitcoinTransaction"/>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>