results/0.5/ZIP/zip-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:daf="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2018">

  <!-- Local File Header -->
  <xs:element name="LocalFileHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Signature" type="xs:hexBinary" dfdl:length="4" dfdl:representation="binary"/>
        <xs:element name="VersionNeededToExtract" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="GeneralPurposeBitFlag" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="CompressionMethod" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="LastModFileTime" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="LastModFileDate" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="CRC32" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="CompressedSize" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="UncompressedSize" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="FileNameLength" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="ExtraFieldLength" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="FileName" type="xs:string" dfdl:length="{ ../FileNameLength }" dfdl:representation="binary"/>
        <xs:element name="ExtraField" type="xs:hexBinary" dfdl:length="{ ../ExtraFieldLength }" dfdl:representation="binary" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Central Directory File Header -->
  <xs:element name="CentralDirectoryFileHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Signature" type="xs:hexBinary" dfdl:length="4" dfdl:representation="binary"/>
        <xs:element name="VersionMadeBy" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="VersionNeededToExtract" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="GeneralPurposeBitFlag" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="CompressionMethod" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="LastModFileTime" type极xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="LastModFileDate" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="CRC32" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="CompressedSize" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="UncompressedSize" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="FileNameLength" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="ExtraFieldLength" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="FileCommentLength" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="DiskNumberStart" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="InternalFileAttributes" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="ExternalFileAttributes" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="RelativeOffsetOfLocalHeader" type="xs:unsigned极Int" dfdl:representation="binary"/>
        <xs:element name="FileName" type="xs:string" dfdl:length="{ ../FileNameLength }" dfdl:representation="binary"/>
        <xs:element name="ExtraField" type="xs:hexBinary" dfdl:length="{ ../ExtraFieldLength }" dfdl:representation="binary" minOccurs="0"/>
        <xs:element name="FileComment" type="xs:string" dfdl:length="{ ../FileCommentLength }" dfdl:representation="binary" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- End of Central Directory Record -->
  <xs:element name="EndOfCentralDirectoryRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Signature" type="xs:hexBinary" dfdl:length="4" dfdl:representation="binary"/>
        <xs:element name="NumberOfDisks" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="DiskNumber" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="NumberOfCentralDirectoryRecordsOnThisDisk" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="TotalNumberOfCentralDirectoryRecords" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="SizeOfCentralDirectory" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="OffsetOfCentralDirectory" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="ZipFileCommentLength" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="ZipFileComment" type="xs:string" dfdl:length="{ ../ZipFileCommentLength }" dfdl:representation="binary" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Data Descriptor -->
  <xs:element name="DataDescriptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Signature" type="xs:hexBinary" dfdl:length="4" dfdl:representation="binary" minOccurs="0"/>
        <xs:element name="CRC32" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="CompressedSize" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="UncompressedSize" type="xs:unsignedInt" dfdl:representation="binary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ZIP64 End of Central Directory Record -->
  <xs:element name="ZIP64EndOfCentralDirectoryRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Signature" type="xs:hexBinary" dfdl:length="4" dfdl:representation="binary"/>
        <xs:element name="SizeOfZIP64EOCDRecord" type="xs:unsignedLong" dfdl:representation="binary"/>
        <xs:element name="VersionMadeBy" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="VersionNeededToExtract" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="NumberOfDisks" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="DiskNumber" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="NumberOfCentralDirectoryRecordsOnThisDisk" type="xs:unsignedLong" dfdl:representation="binary"/>
        <xs:element name="TotalNumberOfCentralDirectoryRecords" type="xs:unsignedLong" dfdl:representation="binary"/>
        <xs:element name="SizeOfCentralDirectory" type="xs:unsignedLong" dfdl:representation="binary"/>
        <xs:element name="OffsetOfCentralDirectory" type="xs:unsignedLong" dfdl:representation="binary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ZIP64 End of Central Directory Locator -->
  <xs:element name="ZIP64EndOfCentralDirectoryLocator">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Signature" type="xs:hexBinary" dfdl:length="4" dfdl:representation="binary"/>
        <xs:element name="DiskNumberWithZIP64EOCD" type="xs:unsignedInt" dfdl:representation="binary"/>
        <xs:element name="RelativeOffsetOfZIP64EOCD" type="xs:unsignedLong" dfdl:representation="binary"/>
        <xs:element name="TotalNumberOfDisks" type="xs:unsignedInt" dfdl:representation="binary"/>
      </xs: