results/1.0/Bitcoin-transactions/bitcoin-transactions-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:tns="http://example.com/bitcoin" targetNamespace="http://example.com/bitcoin">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format byteOrder="littleEndian" encoding="UTF-8" lengthKind="explicit" occursCountKind="implicit" sequenceKind="ordered" representation="binary" initiatedContent="no"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="BitcoinTransaction">
    <xs:complexType>
      <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="no">
        <xs:element name="Version" type="xs:int" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
        <xs:element name="InputCount" type="xs:int" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
        <xs:element name="Inputs" minOccurs="0" maxOccurs="unbounded" dfdl:occursCountKind="implicit" dfdl:leadingSkip="0">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered">
              <xs:element name="PreviousTxHash" type="xs:hexBinary" dfdl:length="32" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="PreviousOutputIndex" type="xs:unsignedInt" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="ScriptLength" type="xs:int" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="Script" type="xs:hexBinary" dfdl:length="{ ../ScriptLength }" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="Sequence" type="xs:unsignedInt" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OutputCount" type="xs:int" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
        <xs:element name="Outputs" minOccurs="0" maxOccurs="unbounded" dfdl:occursCountKind="implicit" dfdl:leadingSkip="0">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered">
              <xs:element name="Value" type="xs:long" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="ScriptLength" type="xs:int" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="Script" type="xs:hexBinary" dfdl:length="{ ../ScriptLength }" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LockTime" type="xs:unsignedInt" dfdl:byteOrder="littleEndian" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>