results/1.0/Bitcoin-transactions/bitcoin-transactions-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           xmlns:ex="http://example.com/BitcoinTransaction" 
           targetNamespace="http://example.com/BitcoinTransaction" 
           elementFormDefault="qualified">
  <xs:element name="transaction" type="ex:TransactionType" />
  <xs:complexType name="TransactionType">
    <xs:sequence>
      <xs:element name="version" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="inputCount" type="ex:InputCountType" />
      <xs:element name="outputCount" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="VarInt" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="lockTime" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InputCountType">
    <xs:sequence>
      <xs:element name="count" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="VarInt" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="inputs" type="ex:InputType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="occurs" value="{ $count }" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element name="previousOutputHash" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="32" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="previousOutputIndex" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="scriptLength" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="VarInt" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="scriptSig" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="{ $scriptLength }" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="sequenceNumber" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="value" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="8" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="scriptLength" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="VarInt" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="scriptPubKey" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="{ $scriptLength }" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="block" type="ex:BlockType" />
  <xs:complexType name="BlockType">
    <xs:sequence>
      <xs:element name="blockHeader" type="ex:BlockHeaderType" />
      <xs:element name="transactionCount" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="VarInt" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="transactions" type="ex:TransactionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="occurs" value="{ $transactionCount }" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BlockHeaderType">
    <xs:sequence>
      <xs:element name="version" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="previousBlockHash" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="32" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="merkleRoot" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="32" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="timestamp" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="target" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="nonce" type="xs:integer">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>
              <dfdl:property name="binaryLength" value="4" />
              <dfdl:property name="byteOrder" value="big" />
            </dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>