results/0.75/PNG-Image/png-image-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/PNG-Image"
           xmlns:tns="http://example.com/PNG-Image"
           elementFormDefault="qualified">

  <xs:element name="png-image-meta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signature" type="tns:png-signature" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
        <xs:element name="ihdr" type="tns:ihdr-chunk" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
        <xs:element name="idat" type="tns:idat-chunk" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="iend" type="tns:iend-chunk" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="png-signature">
    <xs:complexContent>
      <xs:restriction base="xs:byte">
        <xs:pattern value="89504E470D0A1A0A"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ihdr-chunk">
    <xs:sequence>
      <xs:element name="length" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="type" type="tns:chunk-type" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="width" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="height" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="bit-depth" type="xs:unsignedByte" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="color-type" type="xs:unsignedByte" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="compression-method" type="xs:unsignedByte" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="filter-method" type="xs:unsignedByte" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="interlace-method" type="xs:unsignedByte" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="crc" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="idat-chunk">
    <xs:sequence>
      <xs:element name="length" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="type" type="tns:chunk-type" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="data" type="xs:base64Binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="crc" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="iend-chunk">
    <xs:sequence>
      <xs:element name="length" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="type" type="tns:chunk-type" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="crc" type="xs:unsignedInt" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="chunk-type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z][A-Z][A-Z][A-Z]"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>