results/0.5/SQLITE3-DB/sqlite3-db-deepseek-ai-deepseek-v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://www.ogf.org/dfdl/"
           xmlns:daf="http://www.ogf.org/dfdl/dfdl-1.0/">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format representation="binary" byteOrder="bigEndian" lengthKind="explicit" encoding="UTF-8"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="SQLiteDatabase">
    <xs:complexType>
      <xs:sequence dfdl:sequenceKind="ordered" dfdl:separator="">
        <xs:element name="Header" type="HeaderType"/>
        <xs:element name="Pages" type="PagesType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence dfdl:sequenceKind="ordered" dfdl:separator="">
      <xs:element name="MagicHeader" type="xs:string" dfdl:length="16" dfdl:encoding="ASCII"/>
      <xs:element name="PageSize" type="xs:unsignedShort"/>
      <xs:element name="FileFormatWriteVersion" type="xs:unsignedByte"/>
      <xs:element name="FileFormatReadVersion" type="xs:unsignedByte"/>
      <xs:element name="ReservedSpace" type="xs:unsignedByte"/>
      <xs:element name="MaxEmbeddedPayloadFraction" type="xs:unsignedByte"/>
      <xs:element name="MinEmbeddedPayloadFraction" type="xs:unsignedByte"/>
      <xs:element name="LeafPayloadFraction" type="xs:unsignedByte"/>
      <xs:element name="FileChangeCounter" type="xs:unsignedInt"/>
      <xs:element name="DatabaseFileSizeInPages" type="xs:unsignedInt"/>
      <xs:element name="FirstFreelistTrunkPage" type="xs:unsignedInt"/>
      <xs:element name="NumberOfFreelistPages" type="xs:unsignedInt"/>
      <xs:element name="SchemaCookie" type="xs:unsignedInt"/>
      <xs:element name="SchemaFormatNumber" type="xs:unsignedInt"/>
      <xs:element name="DefaultPageCacheSize" type="xs:unsignedInt"/>
      <xs:element name="LargestRootBTreePage" type="xs:unsignedInt"/>
      <xs:element name="DatabaseTextEncoding" type="xs:unsignedInt"/>
      <xs:element name="UserVersion" type="xs:unsignedInt"/>
      <xs:element name="IncrementalVacuumMode" type="xs:unsignedInt"/>
      <xs:element name="ApplicationID" type="xs:unsignedInt"/>
      <xs:element name="ReservedForExpansion" type="xs:hexBinary" dfdl:length="20"/>
      <xs:element name="VersionValidForNumber" type="xs:unsignedInt"/>
      <xs:element name="SQLiteVersionNumber" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PagesType">
    <xs:sequence dfdl:sequenceKind="ordered" dfdl:separator="">
      <xs:element name="Page" type="PageType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PageType">
    <xs:sequence dfdl:sequenceKind="ordered" dfdl:separator="">
      <xs:element name="PageType" type="xs:unsignedByte"/>
      <xs:element name="PageData" type="xs:hexBinary" dfdl:length="{../PageSize}"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>