results/0.5/HTTP-1.1/http-1.1-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/HTTP-1.1"
           xmlns="http://example.com/HTTP-1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/xml-schema/DFDL-1.0.xsd"/>
  
  <xs:element name="httpMessage">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:group ref="httpMessage"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="requestLine">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:element ref="requestLine"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="statusLine">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:element ref="statusLine"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="header">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:element ref="header"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="headers">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:sequence ref="headers" occurs="*"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="body">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:element ref="body"/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="httpMessageType">
    <xs:sequence>
      <xs:element ref="requestLine" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="statusLine" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="headers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="body" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestLineType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="method" type="xs:string" use="required"/>
        <xs:attribute name="requestTarget" type="xs:string" use="required"/>
        <xs:attribute name="httpVersion" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="statusLineType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="httpVersion" type="xs:string" use="required"/>
        <xs:attribute name="statusCode" type="xs:integer" use="required"/>
        <xs:attribute name="reasonPhrase" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="headerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="bodyType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="contentType" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="httpMessage" type="httpMessageType"/>

  <xs:element name="requestLine" type="requestLineType"/>

  <xs:element name="statusLine" type="statusLineType"/>

  <xs:element name="header" type="headerType"/>

  <xs:element name="headers" type="xs:string"/>

  <xs:element name="body" type="bodyType"/>

  <dfdl:format_checkThreshold>8</dfdl:format_checkThreshold>
  <dfdl:readlish_checkThreshold>8</dfdl:readlish_checkThreshold>
  <dfdl:writelish_checkThreshold>8</dfdl:writelish_checkThreshold>

</xs:schema>