results/0.5/ARP/arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://www.example.org/ARP" 
           xmlns:arp="http://www.example.org/ARP" 
           elementFormDefault="qualified">
  <xs:element name="arp" type="arp:arpType"/>
  <xs:complexType name="arpType">
    <xs:sequence>
      <xs:element name="hardwareType" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="2"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="protocolType" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="2"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="hardwareAddressLength" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="1"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="protocolAddressLength" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="1"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="operation" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="2"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="senderHardwareAddress" type="arp:hardwareAddressType"/>
      <xs:element name="senderProtocolAddress" type="arp:protocolAddressType"/>
      <xs:element name="targetHardwareAddress" type="arp:hardwareAddressType"/>
      <xs:element name="targetProtocolAddress" type="arp:protocolAddressType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hardwareAddressType">
    <xs:choice>
      <xs:element name="ethernetAddress" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="6"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherAddress" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="protocolAddressType">
    <xs:choice>
      <xs:element name="ipv4Address" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="4"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ipv6Address" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian" dfdl:length="16"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherAddress" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:representation dfdl:binary="true" dfdl:byteOrder="bigEndian"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>