results/0.0/JPEG/jpeg-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/jpeg"
           xmlns="http://example.com/jpeg"
           elementFormDefault="qualified">

  <xs:include schemaLocation="dfdl.dtd"/>

  <xs:element name="jpeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="soi" dfdl:occurs="1..1"/>
        <xs:element ref="app0" dfdl:occurs="1..1"/>
        <xs:element ref="dqt" dfdl:occurs="0..1"/>
        <xs:element ref="sof0" dfdl:occurs="1..1"/>
        <xs:element ref="dht" dfdl:occurs="0..1"/>
        <xs:element ref="dri" dfdl:occurs="0..1"/>
        <xs:element ref="sos" dfdl:occurs="1..1"/>
        <xs:element ref="app1" dfdl:occurs="0..1"/>
        <xs:element ref="com" dfdl:occurs="0..1"/>
        <xs:element ref="eoi" dfdl:occurs="1..1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="soi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="app0">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="identifier" type="xs:string" dfdl:length="5" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="version" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="units" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="x-density" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="y-density" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="thumbnail-x" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="thumbnail-y" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dqt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="precision" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="table-id" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="table" type="xs:hexBinary" dfdl:length="64" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sof0">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="precision" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="height" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="width" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="num-components" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="component" type="xs:hexBinary" dfdl:length="3" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0" dfdl:occurs="3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dht">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="table-class" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="table-id" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="table" type="xs:hexBinary" dfdl:length="65" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="dri">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="restart-interval" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="sos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="num-components" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="component" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0" dfdl:occurs="3"/>
        <xs:element name="spectral-selection" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="successive-approximation" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="app1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="identifier" type="xs:string" dfdl:length="5" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="version" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="units" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="x-density" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="y-density" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="thumbnail-x" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="thumbnail-y" type="xs:integer" dfdl:length="1" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="com">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="length" type="xs:integer" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
        <xs:element name="comment" type="xs:string" dfdl:length="variable" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="eoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="marker" type="xs:hexBinary" dfdl:length="2" dfdl:byteOrder="big" dfdl:encoding="utf-8" dfdl:outputNewLine="no" dfdl:outputPaddingBytes="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>