results/0.5/PNG-Image/png-image-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/png"
           xmlns:tns="http://example.com/png"
           elementFormDefault="qualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/dfdl.xsd"/>

  <xs:element name="png">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:signature" dfdl:OccursCount="1"/>
        <xs:element ref="tns:IHDR" dfdl:OccursCount="1"/>
        <xs:element ref="tns:IDAT" dfdl:OccursCount="1" dfdl:OutputValueCalculator="outputIDAT"/>
        <xs:element ref="tns:IEND" dfdl:OccursCount="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="signature">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attribute name="dfdl:length" type="xs:integer" value="8"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IHDR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="width" type="xs:integer" dfdl:length="4" dfdl:byteOrder="big"/>
        <xs:element name="height" type="xs:integer" dfdl:length="4" dfdl:byteOrder="big"/>
        <xs:element name="bitDepth" type="xs:integer" dfdl:length="1"/>
        <xs:element name="colorType" type="xs:integer" dfdl:length="1"/>
        <xs:element name="compressionMethod" type="xs:integer" dfdl:length="1"/>
        <xs:element name="filterMethod" type="xs:integer" dfdl:length="1"/>
        <xs:element name="interlaceMethod" type="xs:integer" dfdl:length="1"/>
      </xs:sequence>
      <xs:attribute name="dfdl:length" type="xs:integer" value="25"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="IDAT">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attribute name="dfdl:lengthKind" type="xs:string" value="explicit"/>
          <xs:attribute name="dfdl:outputValueCalculator" type="xs:string" value="outputIDAT"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="IEND">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attribute name="dfdl:length" type="xs:integer" value="4"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <dfdl:outputValueCalculator name="outputIDAT">
    <xs:sequence>
      <xs:element name="length" type="xs:integer" dfdl:length="4" dfdl:byteOrder="big"/>
      <xs:element name="data" type="xs:hexBinary" dfdl:lengthKind="delimited" dfdl:delimiterType="byte" dfdl:delimiterValue="0x00 0x00 0x00 0x00"/>
      <xs:element name="crc" type="xs:integer" dfdl:length="4" dfdl:byteOrder="big"/>
    </xs:sequence>
  </dfdl:outputValueCalculator>

</xs:schema>