results/0.75/ICMP/icmp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/ICMP"
           xmlns="http://example.com/ICMP"
           elementFormDefault="qualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/XMLSchema/DFDL.xsd"/>

  <xs:element name="icmp">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:format encoding="US-ASCII" CheckAllBufferedEvents="true"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type" type="xs:unsignedByte" dfdl:sequenceKind="element">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:occurs count="1"/>
              <dfdl:byteOrder="bigEndian"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="code" type="xs:unsignedByte" dfdl:sequenceKind="element">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:occurs count="1"/>
              <dfdl:byteOrder="bigEndian"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="checksum" type="xs:unsignedShort" dfdl:sequenceKind="element">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:occurs count="1"/>
              <dfdl:byteOrder="bigEndian"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="identifier" type="xs:unsignedShort" dfdl:sequenceKind="element">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:occurs count="1"/>
              <dfdl:byteOrder="bigEndian"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="sequenceNumber" type="xs:unsignedShort" dfdl:sequenceKind="element">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:occurs count="1"/>
              <dfdl:byteOrder="bigEndian"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>