results/0.5/DICOM/dicom-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:dicom="http://www.dicomstandard.org/dfdl" targetNamespace="http://www.dicomstandard.org/dfdl" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format encoding="UTF-8" byteOrder="littleEndian" alignment="2" lengthKind="explicit"/>
        </xs:appinfo>
    </xs:annotation>

    <xs:complexType name="DICOMType">
        <xs:sequence>
            <xs:element name="MetaInformation" type="dicom:MetaInformationType"/>
            <xs:element name="Dataset" type="dicom:DatasetType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MetaInformationType">
        <xs:sequence>
            <xs:element name="Preamble" type="xs:hexBinary" dfdl:length="128" minOccurs="0"/>
            <xs:element name="Prefix" type="xs:string" dfdl:length="4" fixed="DICM"/>
            <xs:element name="FileMetaInformationGroupLength" type="xs:unsignedInt"/>
            <xs:element name="FileMetaInformationVersion" type="xs:hexBinary" dfdl:length="2"/>
            <xs:element name="MediaStorageSOPClassUID" type="xs:string"/>
            <xs:element name="MediaStorageSOPInstanceUID" type="xs:string"/>
            <xs:element name="TransferSyntaxUID" type="xs:string"/>
            <xs:element name="ImplementationClassUID" type="xs:string"/>
            <xs:element name="ImplementationVersionName" type="xs:string" minOccurs="0"/>
            <xs:element name="SourceApplicationEntityTitle" type="xs:string" minOccurs="0"/>
            <xs:element name="PrivateInformationCreatorUID" type="xs:string" minOccurs="0"/>
            <xs:element name="PrivateInformation" type="xs:hexBinary" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DatasetType">
        <xs:sequence>
            <xs:element name="PatientName" type="xs:string" minOccurs="0"/>
            <xs:element name="PatientID" type="xs:string" minOccurs="0"/>
            <xs:element name="PatientBirthDate" type="xs:string" minOccurs="0"/>
            <xs:element name="PatientSex" type="xs:string" minOccurs="0"/>
            <xs:element name="StudyDate" type="xs:string" minOccurs="0"/>
            <xs:element name="StudyTime" type="xs:string" minOccurs="0"/>
            <xs:element name="StudyInstanceUID" type="xs:string" minOccurs="0"/>
            <xs:element name="SeriesInstanceUID" type="xs:string" minOccurs="0"/>
            <xs:element name="Modality" type="xs:string" minOccurs="0"/>
            <xs:element name="SOPClassUID" type="xs:string" minOccurs="0"/>
            <xs:element name="SOPInstanceUID" type="xs:string" minOccurs="0"/>
            <xs:element name="Rows" type="xs:unsignedShort" minOccurs="0"/>
            <xs:element name="Columns" type="xs:unsignedShort" minOccurs="0"/>
            <xs:element name="BitsAllocated" type="xs:unsignedShort" minOccurs="0"/>
            <xs:element name="BitsStored" type="xs:unsignedShort" minOccurs="0"/>
            <xs:element name="HighBit" type="xs:unsignedShort" minOccurs="0"/>
            <xs:element name="PixelRepresentation" type="xs:unsignedShort" minOccurs="0"/>
            <xs:element name="PhotometricInterpretation" type="xs:string" minOccurs="0"/>
            <xs:element name="PixelData" type="xs:hexBinary" minOccurs="0"/>
            <!-- Add more elements as needed -->
        </xs:sequence>
    </xs:complexType>

    <xs:element name="DICOM" type="dicom:DICOMType"/>

</xs:schema>