results/1.0/Network-Time-Protocol-Version-4/network-time-protocol-version-4-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://www.ogf.org/dfdl/dfdl-1.0/"
           elementFormDefault="qualified">
  <xs:element name="ntp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="leapIndicator" type="xs:unsignedShort"/>
              <xs:element name="versionNumber" type="xs:unsignedShort"/>
              <xs:element name="mode" type="xs:unsignedShort"/>
              <xs:element name="poll" type="xs:unsignedByte"/>
              <xs:element name="precision" type="xs:signedByte"/>
              <xs:element name="rootDelay" type="xs:unsignedInt"/>
              <xs:element name="rootDispersion" type="xs:unsignedInt"/>
              <xs:element name="referenceIdentifier" type="xs:unsignedInt"/>
              <xs:element name="referenceTimestamp" type="xs:unsignedLong"/>
              <xs:element name="originateTimestamp" type="xs:unsignedLong"/>
              <xs:element name="receiveTimestamp" type="xs:unsignedLong"/>
              <xs:element name="transmitTimestamp" type="xs:unsignedLong"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="extensionFields" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extensionFieldType" type="xs:unsignedShort"/>
              <xs:element name="extensionFieldLength" type="xs:unsignedShort"/>
              <xs:element name="extensionFieldData" type="xs:hexBinary">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length field="extensionFieldLength"/>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>