results/0.25/GIF/gif-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" targetNamespace="http://example.com/GIF" xmlns="http://example.com/GIF" elementFormDefault="qualified">
  <xs:element name="GIF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="HeaderType"/>
        <xs:element name="LogicalScreenDescriptor" type="LogicalScreenDescriptorType"/>
        <xs:element name="GlobalColorTable" type="GlobalColorTableType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ImageDescriptor" type="ImageDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Trailer" type="TrailerType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="Signature" type="xs:string" fixed="GIF"/>
      <xs:element name="Version" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LogicalScreenDescriptorType">
    <xs:sequence>
      <xs:element name="LogicalScreenWidth" type="xs:unsignedShort"/>
      <xs:element name="LogicalScreenHeight" type="xs:unsignedShort"/>
      <xs:element name="PackedFields" type="PackedFieldsType"/>
      <xs:element name="BackgroundColorIndex" type="xs:unsignedByte"/>
      <xs:element name="PixelAspectRatio" type="xs:unsignedByte"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackedFieldsType">
    <xs:sequence>
      <xs:element name="GlobalColorTableSize" type="xs:unsignedInt"/>
      <xs:element name="SortFlag" type="xs:boolean"/>
      <xs:element name="ColorResolution" type="xs:boolean"/>
      <xs:element name="GlobalColorTableFlag" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GlobalColorTableType">
    <xs:sequence>
      <xs:element name="ColorTableEntries" type="ColorTableEntryType" minOccurs="0" maxOccurs="256"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ColorTableEntryType">
    <xs:sequence>
      <xs:element name="Red" type="xs:unsignedByte"/>
      <xs:element name="Green" type="xs:unsignedByte"/>
      <xs:element name="Blue" type="xs:unsignedByte"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageDescriptorType">
    <xs:sequence>
      <xs:element name="ImageSeparator" type="xs:string" fixed=","/>
      <xs:element name="ImageLeftPosition" type="xs:unsignedShort"/>
      <xs:element name="ImageTopPosition" type="xs:unsignedShort"/>
      <xs:element name="ImageWidth" type="xs:unsignedShort"/>
      <xs:element name="ImageHeight" type="xs:unsignedShort"/>
      <xs:element name="PackedFields" type="ImagePackedFieldsType"/>
      <xs:element name="LZWMinimumCodeSize" type="xs:unsignedByte"/>
      <xs:element name="LocalColorTable" type="LocalColorTableType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ImageData" type="xs:hexBinary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImagePackedFieldsType">
    <xs:sequence>
      <xs:element name="LocalColorTableSize" type="xs:unsignedInt"/>
      <xs:element name="InterlaceFlag" type="xs:boolean"/>
      <xs:element name="SortFlag" type="xs:boolean"/>
      <xs:element name="LocalColorTableFlag" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocalColorTableType">
    <xs:sequence>
      <xs:element name="ColorTableEntries" type="ColorTableEntryType" minOccurs="0" maxOccurs="256"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrailerType">
    <xs:sequence>
      <xs:element name="Trailer" type="xs:string" fixed=";"/>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:appinfo>
      <dfdl:format representation="binary"/>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>