results/0.75/JPEG/jpeg-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" targetNamespace="http://www.ogf.org/dfdl/dfdl-1.0/" elementFormDefault="qualified">
  <xs:element name="format" type="dfdl:formatType"/>
  <xs:complexType name="formatType">
    <xs:sequence>
      <xs:element name="element" type="dfdl:elementType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="label" type="xs:string" use="required"/>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="element" type="dfdl:elementType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="occurs" type="xs:string" use="optional"/>
    <xs:attribute name="maxOccurs" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="binaryIntegerType">
    <xs:attribute name="length" type="xs:integer" use="required"/>
    <xs:attribute name="byteOrder" type="xs:string" use="required"/>
    <xs:attribute name="representation" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:integer" use="optional"/>
  </xs:complexType>
  <xs:element name="JPEG" type="dfdl:JPEGType"/>
  <xs:complexType name="JPEGType">
    <xs:sequence>
      <xs:element name="marker" type="dfdl:markerType"/>
      <xs:element name="markerLength" type="dfdl:markerLengthType"/>
      <xs:choice>
        <xs:element name="soi" type="dfdl:soiType"/>
        <xs:element name="sof0" type="dfdl:sof0Type"/>
        <xs:element name="sof2" type="dfdl:sof2Type"/>
        <xs:element name="dht" type="dfdl:dhtType"/>
        <xs:element name="dac" type="dfdl:dacType"/>
        <xs:element name="dri" type="dfdl:driType"/>
        <xs:element name="sos" type="dfdl:sosType"/>
        <xs:element name="eoi" type="dfdl:eoiType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="markerType">
    <xs:sequence>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="markerLengthType">
    <xs:sequence>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="soiType">
    <xs:sequence>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
          <xs:attribute name="value" type="xs:integer" use="required" value="65496"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
          <xs:attribute name="value" type="xs:integer" use="required" value="2"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sof0Type">
    <xs:sequence>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
          <xs:attribute name="value" type="xs:integer" use="required" value="65470"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="precision" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="imageHeight" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="imageWidth" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="numComponents" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="componentSpec" type="dfdl:componentSpecType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="componentSpecType">
    <xs:sequence>
      <xs:element name="componentId" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="hSamplingFactor" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="vSamplingFactor" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="quantTableId" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sof2Type">
    <xs:sequence>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
          <xs:attribute name="value" type="xs:integer" use="required" value="65472"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="precision" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="imageHeight" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="imageWidth" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="numComponents" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="componentSpec" type="dfdl:componentSpecType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dhtType">
    <xs:sequence>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
          <xs:attribute name="value" type="xs:integer" use="required" value="65475"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
        <xs:complexType>
          <xs:attribute name="length" type="xs:integer" use="required" value="2"/>
          <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
          <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="tableClass" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="dfdl:binaryIntegerType">
              <xs:complexType>
                <xs:attribute name="length" type="xs:integer" use="required" value="1"/>
                <xs:attribute name="byteOrder" type="xs:string" use="required" value="big"/>
                <xs:attribute name="representation" type="xs:string" use="required" value="unsigned"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tableId" type="dfdl:elementType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="binaryInteger" type="df