results/0.75/ARP/arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://www.example.org/ARP" 
           xmlns="http://www.example.org/ARP" 
           elementFormDefault="qualified">
  <xs:import namespace="http://www.ogf.org/dfdl/dfdl-1.0/" schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/dfdl.xsd"/>
  <xs:element name="ARP" type="ARPType" dfdl:representation="binary"/>
  <xs:complexType name="ARPType">
    <xs:sequence>
      <xs:element name="htype" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>mostSignificantBitFirst</dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ptype" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>mostSignificantBitFirst</dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="hlen" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>mostSignificantBitFirst</dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="plen" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>mostSignificantBitFirst</dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="oper" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:format>mostSignificantBitFirst</dfdl:format>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="sha" type="xs:hexBinary" dfdl:length="6"/>
      <xs:element name="spa" type="xs:hexBinary" dfdl:length="4"/>
      <xs:element name="tha" type="xs:hexBinary" dfdl:length="6"/>
      <xs:element name="tpa" type="xs:hexBinary" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>