results/1.0/Modbus/modbus-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:modbus="http://example.com/modbus"
           targetNamespace="http://example.com/modbus"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/dfdl.dtd"/>

  <xs:element name="modbus-message">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:element dfdl:ref="modbus-message">
          <dfdl:representation>
            <dfdl:binary suffixInterval="0..1" byteOrder="bigEndian" escaped="false"/>
          </dfdl:representation>
        </dfdl:element>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transaction-id" type="xs:unsignedShort" dfdl:occursCount="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:element dfdl:ref="transaction-id">
                <dfdl:representation>
                  <dfdl:binary byteOrder="bigEndian" lengthKind="explicit" length="2"/>
                </dfdl:representation>
              </dfdl:element>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="protocol-id" type="xs:unsignedShort" dfdl:occursCount="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:element dfdl:ref="protocol-id">
                <dfdl:representation>
                  <dfdl:binary byteOrder="bigEndian" lengthKind="explicit" length="2"/>
                </dfdl:representation>
              </dfdl:element>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="length" type="xs:unsignedShort" dfdl:occursCount="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:element dfdl:ref="length">
                <dfdl:representation>
                  <dfdl:binary byteOrder="bigEndian" lengthKind="explicit" length="2"/>
                </dfdl:representation>
              </dfdl:element>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="unit-id" type="xs:unsignedByte" dfdl:occursCount="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:element dfdl:ref="unit-id">
                <dfdl:representation>
                  <dfdl:binary byteOrder="bigEndian" lengthKind="explicit" length="1"/>
                </dfdl:representation>
              </dfdl:element>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="function" type="xs:unsignedByte" dfdl:occursCount="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:element dfdl:ref="function">
                <dfdl:representation>
                  <dfdl:binary byteOrder="bigEndian" lengthKind="explicit" length="1"/>
                </dfdl:representation>
              </dfdl:element>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="data" type="modbus:data-type" dfdl:occursCount="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:element dfdl:ref="data">
                <dfdl:_representation>
                  <dfdl:sequence>
                    <dfdl:element dfdl:ref="data" occursCount="0..*">
                      <dfdl:representation>
                        <dfdl:binary byteOrder="bigEndian" lengthKind="implicit"/>
                      </dfdl:representation>
                    </dfdl:element>
                  </dfdl:sequence>
                </dfdl:representation>
              </dfdl:element>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="data-type">
    <xs:sequence>
      <xs:element name="register" type="xs:unsignedShort" dfdl:occursCount="1">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:element dfdl:ref="register">
              <dfdl:representation>
                <dfdl:binary byteOrder="bigEndian" lengthKind="explicit" length="2"/>
              </dfdl:representation>
            </dfdl:element>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="register-count" type="xs:unsignedShort" dfdl:occursCount="1">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:element dfdl:ref="register-count">
              <dfdl:representation>
                <dfdl:binary byteOrder="bigEndian" lengthKind="explicit" length="2"/>
              </dfdl:representation>
            </dfdl:element>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>