results/0.25/MQTT/mqtt-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/mqtt"
           xmlns="http://example.com/mqtt"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="mqttMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fixedHeader" type="fixedHeaderType"/>
        <xs:choice>
          <xs:element name="connectPacket" type="connectPacketType"/>
          <xs:element name="connackPacket" type="connackPacketType"/>
          <xs:element name="publishPacket" type="publishPacketType"/>
          <xs:element name="pubackPacket" type="pubackPacketType"/>
          <xs:element name="pubrecPacket" type="pubrecPacketType"/>
          <xs:element name="pubrelPacket" type="pubrelPacketType"/>
          <xs:element name="pubcompPacket" type="pubcompPacketType"/>
          <xs:element name="subscribePacket" type="subscribePacketType"/>
          <xs:element name="subackPacket" type="subackPacketType"/>
          <xs:element name="unsubscribePacket" type="unsubscribePacketType"/>
          <xs:element name="unsubackPacket" type="unsubackPacketType"/>
          <xs:element name="pingreqPacket" type="pingreqPacketType"/>
          <xs:element name="pingrespPacket" type="pingrespPacketType"/>
          <xs:element name="disconnectPacket" type="disconnectPacketType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="fixedHeaderType">
    <xs:sequence>
      <xs:element name="controlPacketType" type="xs:unsignedByte"/>
      <xs:element name="flags" type="xs:unsignedByte"/>
      <xs:element name="remainingLength" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="connectPacketType">
    <xs:sequence>
      <xs:element name="protocolName" type="xs:string" fixed="MQTT"/>
      <xs:element name="protocolLevel" type="xs:unsignedByte"/>
      <xs:element name="connectFlags" type="xs:unsignedByte"/>
      <xs:element name="keepAlive" type="xs:unsignedShort"/>
      <xs:element name="clientId" type="xs:string"/>
      <xs:element name="willTopic" type="xs:string" minOccurs="0"/>
      <xs:element name="willMessage" type="xs:hexBinary" minOccurs="0"/>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:hexBinary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="connackPacketType">
    <xs:sequence>
      <xs:element name="sessionPresent" type="xs:unsignedByte"/>
      <xs:element name="connectReasonCode" type="xs:unsignedByte"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="publishPacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="topicName" type="xs:string"/>
      <xs:element name="topicAlias" type="xs:unsignedShort" minOccurs="0"/>
      <xs:element name="payload" type="xs:hexBinary"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pubackPacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pubrecPacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pubrelPacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pubcompPacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscribePacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
      <xs:element name="subscription" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="topicFilter" type="xs:string"/>
            <xs:element name="subscriptionOptions" type="xs:unsignedByte"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subackPacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
      <xs:element name="returnCode" type="xs:unsignedByte" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unsubscribePacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
      <xs:element name="topicFilter" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="unsubackPacketType">
    <xs:sequence>
      <xs:element name="packetIdentifier" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pingreqPacketType">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="pingrespPacketType">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="disconnectPacketType">
    <xs:sequence>
      <xs:element name="disconnectReasonCode" type="xs:unsignedByte"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>