results/1.0/JPEG/jpeg-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/jpeg"
           xmlns:jpeg="http://example.com/jpeg"
           elementFormDefault="qualified">
  <xs:element name="jpeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="soiMarker" type="xs:hexBinary" fixed="FFD8"/>
        <xs:element name="app0" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="app0Marker" type="xs:hexBinary" fixed="FFE0"/>
              <xs:element name="app0Length" type="xs:unsignedShort"/>
              <xs:element name="app0Identifier" type="xs:hexBinary" fixed="4A464946"/>
              <xs:element name="app0Version" type="xs:unsignedShort" fixed="1"/>
              <xs:element name="app0Units" type="xs:byte" fixed="1"/>
              <xs:element name="app0Density" type="xs:unsignedShort"/>
              <xs:element name="app0ThumbnailHeight" type="xs:unsignedShort"/>
              <xs:element name="app0ThumbnailWidth" type="xs:unsignedShort"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dqt" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dqtMarker" type="xs:hexBinary" fixed="FFDB"/>
              <xs:element name="dqtLength" type="xs:unsignedShort"/>
              <xs:element name="dqtPrecision" type="xs:byte" fixed="0"/>
              <xs:element name="dqtDestinationIdentifier" type="xs:byte"/>
              <xs:element name="dqtQuantizationTable" type="xs:unsignedShort" maxOccurs="64"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dht" minOccurs="0" maxOccurs="4">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dhtMarker" type="xs:hexBinary" fixed="FFC4"/>
              <xs:element name="dhtLength" type="xs:unsignedShort"/>
              <xs:element name="dhtTableClass" type="xs:byte"/>
              <xs:element name="dhtDestinationIdentifier" type="xs:byte"/>
              <xs:element name="dhtNumberOfCodes" type="xs:unsignedByte" maxOccurs="16"/>
              <xs:element name="dhtHuffmanCodes" type="xs:unsignedByte" minOccurs="1" maxOccurs="255"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sof0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sof0Marker" type="xs:hexBinary" fixed="FFC0"/>
              <xs:element name="sof0Length" type="xs:unsignedShort"/>
              <xs:element name="sof0Precision" type="xs:byte" fixed="8"/>
              <xs:element name="sof0ImageHeight" type="xs:unsignedShort"/>
              <xs:element name="sof0ImageWidth" type="xs:unsignedShort"/>
              <xs:element name="sof0NumberOfComponents" type="xs:byte"/>
              <xs:element name="sof0Component" minOccurs="1" maxOccurs="3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sof0ComponentIdentifier" type="xs:byte"/>
                    <xs:element name="sof0ComponentSamplingFactors" type="xs:byte"/>
                    <xs:element name="sof0ComponentQuantizationTableSelector" type="xs:byte"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sosMarker" type="xs:hexBinary" fixed="FFDA"/>
              <xs:element name="sosLength" type="xs:unsignedShort"/>
              <xs:element name="sosNumberOfComponents" type="xs:byte"/>
              <xs:element name="sosComponent" minOccurs="1" maxOccurs="3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sosComponentIdentifier" type="xs:byte"/>
                    <xs:element name="sosComponentDCEntropyCodingTableSelector" type="xs:byte"/>
                    <xs:element name="sosComponentACEntropyCodingTableSelector" type="xs:byte"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sosData" type="xs:hexBinary" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="eoi">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eoiMarker" type="xs:hexBinary" fixed="FFD9"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>