results/0.5/GZIP/gzip-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:tns="http://example.com/dfdl/gzip"
           targetNamespace="http://example.com/dfdl/gzip"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format representation="binary" byteOrder="bigEndian" lengthKind="explicit" encoding="UTF-8"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="GZIPFile">
    <xs:complexType>
      <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="no">
        <xs:element name="ID1" type="xs:unsignedByte" dfdl:length="1" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="ID2" type="xs:unsignedByte" dfdl:length="1" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="CM" type="xs:unsignedByte" dfdl:length="1" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="FLG" type="xs:unsignedByte" dfdl:length="1" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="MTIME" type="xs:unsignedInt" dfdl:length="4" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="XFL" type="xs:unsignedByte" dfdl:length="1" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="OS" type="xs:unsignedByte" dfdl:length="1" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="EXTRA" minOccurs="0">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="no">
              <xs:element name="XLEN" type="xs:unsignedShort" dfdl:length="2" dfdl:encoding="ISO-8859-1"/>
              <xs:element name="Subfields" dfdl:length="{../XLEN}">
                <xs:complexType>
                  <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="no">
                    <xs:element name="Subfield" type="xs:hexBinary" minOccurs="0" maxOccurs="unbounded" dfdl:encoding="ISO-8859-1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FNAME" minOccurs="0">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="no">
              <xs:element name="Name" type="xs:string" dfdl:lengthKind="delimited" dfdl:terminator="%NUL;" dfdl:encoding="UTF-8"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FCOMMENT" minOccurs="0">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="no">
              <xs:element name="Comment" type="xs:string" dfdl:lengthKind="delimited" dfdl:terminator="%NUL;" dfdl:encoding="UTF-8"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HCRC" type="xs:unsignedShort" dfdl:length="2" minOccurs="0" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="CompressedData">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="no">
              <xs:element name="Data" type="xs:hexBinary" dfdl:encoding="ISO-8859-1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CRC32" type="xs:unsignedInt" dfdl:length="4" dfdl:encoding="ISO-8859-1"/>
        <xs:element name="ISIZE" type="xs:unsignedInt" dfdl:length="4" dfdl:encoding="ISO-8859-1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>