results/0.75/HTTP-1.1/http-1.1-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.org/HTTP-1.1"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           elementFormDefault="qualified">
  <xs:element name="httpMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestLine" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="method" type="xs:string"/>
              <xs:element name="requestUri" type="xs:string"/>
              <xs:element name="httpVersion" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseLine" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="httpVersion" type="xs:string"/>
              <xs:element name="statusCode" type="xs:integer"/>
              <xs:element name="reasonPhrase" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="header" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice>
              <xs:element name="accept" type="xs:string"/>
              <xs:element name="acceptCharset" type="xs:string"/>
              <xs:element name="acceptEncoding" type="xs:string"/>
              <xs:element name="acceptLanguage" type="xs:string"/>
              <xs:element name="authorization" type="xs:string"/>
              <xs:element name="cacheControl" type="xs:string"/>
              <xs:element name="connection" type="xs:string"/>
              <xs:element name="contentEncoding" type="xs:string"/>
              <xs:element name="contentLanguage" type="xs:string"/>
              <xs:element name="contentLength" type="xs:integer"/>
              <xs:element name="contentLocation" type="xs:string"/>
              <xs:element name="contentMd5" type="xs:string"/>
              <xs:element name="contentRange" type="xs:string"/>
              <xs:element name="contentType" type="xs:string"/>
              <xs:element name="date" type="xs:string"/>
              <xs:element name="etag" type="xs:string"/>
              <xs:element name="expect" type="xs:string"/>
              <xs:element name="expires" type="xs:string"/>
              <xs:element name="from" type="xs:string"/>
              <xs:element name="host" type="xs:string"/>
              <xs:element name="ifMatch" type="xs:string"/>
              <xs:element name="ifModifiedSince" type="xs:string"/>
              <xs:element name="ifNoneMatch" type="xs:string"/>
              <xs:element name="ifRange" type="xs:string"/>
              <xs:element name="ifUnmodifiedSince" type="xs:string"/>
              <xs:element name="lastModified" type="xs:string"/>
              <xs:element name="location" type="xs:string"/>
              <xs:element name="maxForwards" type="xs:integer"/>
              <xs:element name="proxyAuthenticate" type="xs:string"/>
              <xs:element name="proxyAuthorization" type="xs:string"/>
              <xs:element name="range" type="xs:string"/>
              <xs:element name="referer" type="xs:string"/>
              <xs:element name="retryAfter" type="xs:string"/>
              <xs:element name="server" type="xs:string"/>
              <xs:element name="te" type="xs:string"/>
              <xs:element name="trailer" type="xs:string"/>
              <xs:element name="transferEncoding" type="xs:string"/>
              <xs:element name="upgrade" type="xs:string"/>
              <xs:element name="userAgent" type="xs:string"/>
              <xs:element name="vary" type="xs:string"/>
              <xs:element name="via" type="xs:string"/>
              <xs:element name="warning" type="xs:string"/>
              <xs:element name="wwwAuthenticate" type="xs:string"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="body" minOccurs="0" maxOccurs="1" type="xs:base64Binary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>