results/0.25/GZIP/gzip-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/gzip"
           xmlns:gzip="http://example.com/gzip"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format byteOrder="littleEndian" representation="binary"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="GZIPFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID1" type="xs:unsignedByte" dfdl:length="1" dfdl:initiator="0x1F"/>
        <xs:element name="ID2" type="xs:unsignedByte" dfdl:length="1" dfdl:initiator="0x8B"/>
        <xs:element name="CM" type="xs:unsignedByte" dfdl:length="1" dfdl:initiator="0x08"/>
        <xs:element name="FLG" type="xs:unsignedByte" dfdl:length="1"/>
        <xs:element name="MTIME" type="xs:unsignedInt" dfdl:length="4"/>
        <xs:element name="XFL" type="xs:unsignedByte" dfdl:length="1"/>
        <xs:element name="OS" type="xs:unsignedByte" dfdl:length="1"/>
        <xs:sequence dfdl:occursCountKind="expression" dfdl:occursCount="{if (../FLG and 0x04) then 1 else 0}">
          <xs:element name="XLEN" type="xs:unsignedShort" dfdl:length="2"/>
          <xs:element name="ExtraField" type="xs:hexBinary" dfdl:length="{../XLEN}"/>
        </xs:sequence>
        <xs:element name="FNAME" type="xs:string" dfdl:lengthKind="delimited" dfdl:terminator="%x00;" dfdl:occursCountKind="expression" dfdl:occursCount="{if (../FLG and 0x08) then 1 else 0}"/>
        <xs:element name="FCOMMENT" type="xs:string" dfdl:lengthKind="delimited" dfdl:terminator="%x00;" dfdl:occursCountKind="expression" dfdl:occursCount="{if (../FLG and 0x10) then 1 else 0}"/>
        <xs:element name="HCRC" type="xs:unsignedShort" dfdl:length="2" dfdl:occursCountKind="expression" dfdl:occursCount="{if (../FLG and 0x02) then 1 else 0}"/>
        <xs:element name="CompressedData" type="xs:hexBinary" dfdl:lengthKind="implicit"/>
        <xs:element name="CRC32" type="xs:unsignedInt" dfdl:length="4"/>
        <xs:element name="ISIZE" type="xs:unsignedInt" dfdl:length="4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>