results/0.25/GZIP/gzip-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/GZIP" 
           xmlns="http://example.com/GZIP" 
           elementFormDefault="qualified">
  <xs:element name="gzip">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID1" type="xs:unsignedByte" dfdl:representation="binary">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>hexValue='1F'</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="ID2" type="xs:unsignedByte" dfdl:representation="binary">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>hexValue='8B'</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="CM" type="xs:unsignedByte" dfdl:representation="binary">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>hexValue='08'</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="FLAGS" type="xs:unsignedByte" dfdl:representation="binary"/>
        <xs:element name="MTIME" type="xs:unsignedInt" dfdl:representation="binary" dfdl:byteOrder="bigEndian"/>
        <xs:element name="XFL" type="xs:unsignedByte" dfdl:representation="binary"/>
        <xs:element name="OS" type="xs:unsignedByte" dfdl:representation="binary"/>
        <xs:element name="XLEN" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="littleEndian">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>unsignedLongValue>=0</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="EXTRA" type="xs:hexBinary" dfdl:representation="binary" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>length=parent().XLEN</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="FNAME" type="xs:string" dfdl:representation="text" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>parent().FLAGS&amp;0x08=0x08</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="FCOMMENT" type="xs:string" dfdl:representation="text" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>parent().FLAGS&amp;0x10=0x10</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="HCRC" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="littleEndian" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert>parent().FLAGS&amp;0x02=0x02</dfdl:assert>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="COMpressedData" type="xs:hexBinary" dfdl:representation="binary"/>
        <xs:element name="ISIZE" type="xs:unsignedInt" dfdl:representation="binary" dfdl:byteOrder="littleEndian"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>