results/0.5/Modbus/modbus-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/modbus"
           xmlns:tns="http://example.com/modbus"
           elementFormDefault="qualified">

  <xs:include schemaLocation="dfdl.dtd"/>

  <xs:element name="modbus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:transaction"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionId" type="xs:unsignedShort"/>
        <xs:element name="protocolId" type="xs:unsignedShort"/>
        <xs:element name="length" type="xs:unsignedShort"/>
        <xs:element name="unitId" type="xs:unsignedByte"/>
        <xs:element name="functionCode" type="xs:unsignedByte"/>
        <xs:element name="data" type="tns:dataType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element name="registerAddress" type="xs:unsignedShort"/>
      <xs:element name="registerCount" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="byte" type="xs:unsignedByte" maxOccurs="unbounded" dfdl:occursCount="*"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <dfdl:format>
    <dfdl:property name="representation" value="binary"/>
    <dfdl:property name="byteOrder" value="bigEndian"/>
    <dfdl:property name="encoding" value="ISO-8859-1"/>
  </dfdl:format>

</xs:schema>