results/0.75/Network-Time-Protocol-Version-4/network-time-protocol-version-4-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/Network-Time-Protocol-Version-4"
           xmlns="http://example.com/Network-Time-Protocol-Version-4"
           elementFormDefault="qualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/XMLSchema/DFDL.xsd"/>

  <xs:element name="ntp_packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="headerType" dfdl:occurs="1..1"/>
        <xs:element name="timestamp" type="xs:unsignedInt" dfdl:occurs="1..1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element name="leap" type="xs:unsignedByte" dfdl:bitLength="2" dfdl:occurs="1..1"/>
      <xs:element name="version" type="xs:unsignedByte" dfdl:bitLength="3" dfdl:occurs="1..1"/>
      <xs:element name="mode" type="xs:unsignedByte" dfdl:bitLength="3" dfdl:occurs="1..1"/>
      <xs:element name="poll" type="xs:unsignedByte" dfdl:bitLength="4" dfdl:occurs="1..1"/>
      <xs:element name="precision" type="xs:unsignedByte" dfdl:bitLength="4" dfdl:occurs="1..1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ntp_packet" dfdl:occurs="1..1" dfdl:encoding="network-byte-order"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>