results/1.0/PNG-Image/png-image-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://www.png.org/"
           xmlns:png="http://www.png.org/"
           elementFormDefault="qualified"
           dfdl:lengthKind="delimited">

  <xs:element name="png">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="magicNumber" type="png:MagicNumberType" dfdl:occurs="1"/>
        <xs:element name="ihdr" type="png:IHDRType" dfdl:occurs="1"/>
        <xs:element name="chunks" type="png:ChunksType" dfdl:occurs="1"/>
        <xs:element name="iend" type="png:IENDType" dfdl:occurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MagicNumberType">
    <xs:sequence>
      <xs:element name="value" type="xs:hexBinary" dfdl:length="8" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IHDRType">
    <xs:sequence>
      <xs:element name="width" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="height" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="bitDepth" type="png:BitDepthType" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="colorType" type="png:ColorTypeType" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="compressionMethod" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="filterMethod" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="interlaceMethod" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="BitDepthType">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="16"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ColorTypeType">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="0"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ChunksType">
    <xs:sequence>
      <xs:element name="chunk" type="png:ChunkType" maxOccurs="unbounded" dfdl:occurs="1..*"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ChunkType">
    <xs:choice>
      <xs:element name="plte" type="png:PLTEType" dfdl:occurs="0..1"/>
      <xs:element name="idat" type="png:IDATType" dfdl:occurs="0..1"/>
      <xs:element name="bkgd" type="png:BKGDType" dfdl:occurs="0..1"/>
      <xs:element name="chrm" type="png:CHRMType" dfdl:occurs="0..1"/>
      <xs:element name="gama" type="png:GAMAType" dfdl:occurs="0..1"/>
      <xs:element name="hist" type="png:HISTType" dfdl:occurs="0..1"/>
      <xs:element name="iccp" type="png:ICCPType" dfdl:occurs="0..1"/>
      <xs:element name="itxt" type="png:ITXTType" dfdl:occurs="0..*"/>
      <xs:element name="offs" type="png:OFFSType" dfdl:occurs="0..1"/>
      <xs:element name="pcal" type="png:PCALType" dfdl:occurs="0..1"/>
      <xs:element name="sbit" type="png:SBITType" dfdl:occurs="0..1"/>
      <xs:element name="scal" type="png:SCALType" dfdl:occurs="0..1"/>
      <xs:element name="srgb" type="png:SRGBType" dfdl:occurs="0..1"/>
      <xs:element name="texp" type="png:TEXType" dfdl:occurs="0..*"/>
      <xs:element name="timo" type="png:TIMOType" dfdl:occurs="0..1"/>
      <xs:element name="trns" type="png:TRNSType" dfdl:occurs="0..1"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PLTEType">
    <xs:sequence>
      <xs:element name="paletteEntries" type="png:PaletteEntryType" maxOccurs="256" dfdl:occurs="1..256"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaletteEntryType">
    <xs:sequence>
      <xs:element name="red" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="green" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="blue" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IDATType">
    <xs:sequence>
      <xs:element name="compressedData" type="xs:hexBinary" dfdl:length="*" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BKGDType">
    <xs:sequence>
      <xs:element name="colorIndex" type="xs:unsignedShort" dfdl:length="2" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CHRMType">
    <xs:sequence>
      <xs:element name="whitePointX" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="whitePointY" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="redX" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="redY" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="greenX" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="greenY" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="blueX" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="blueY" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GAMAType">
    <xs:sequence>
      <xs:element name="gamma" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HISTType">
    <xs:sequence>
      <xs:element name="frequency" type="xs:unsignedShort" dfdl:length="2" maxOccurs="256" dfdl:occurs="1..256"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ICCPType">
    <xs:sequence>
      <xs:element name="profileName" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="compressionMethod" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="compressedProfile" type="xs:hexBinary" dfdl:length="*" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ITXTType">
    <xs:sequence>
      <xs:element name="keyword" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="compressionFlag" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="compressionMethod" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="languageTag" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="translatedKeyword" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="text" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OFFSType">
    <xs:sequence>
      <xs:element name="xOffset" type="xs:integer" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="yOffset" type="xs:integer" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="unitSpecifier" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PCALType">
    <xs:sequence>
      <xs:element name="calibrationName" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="calibrationOrigin" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="calibrationDate" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="calibrationMatrix" type="png:CalibrationMatrixType" dfdl:occurs="1"/>
      <xs:element name="numberOfEntries" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="entries" type="png:EntryType" maxOccurs="unbounded" dfdl:occurs="1..*"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CalibrationMatrixType">
    <xs:sequence>
      <xs:element name="entry" type="xs:unsignedInt" dfdl:length="4" maxOccurs="36" dfdl:occurs="1..36"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EntryType">
    <xs:sequence>
      <xs:element name="value" type="xs:unsignedInt" dfdl:length="4" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SBITType">
    <xs:sequence>
      <xs:element name="redBits" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="greenBits" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="blueBits" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="alphaBits" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SCALType">
    <xs:sequence>
      <xs:element name="unitSpecifier" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="width" type="xs:integer" dfdl:length="4" dfdl:occurs="1"/>
      <xs:element name="height" type="xs:integer" dfdl:length="4" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SRGBType">
    <xs:sequence>
      <xs:element name="renderingIntent" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TEXType">
    <xs:sequence>
      <xs:element name="keyword" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
      <xs:element name="text" type="xs:string" dfdl:length="*" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TIMOType">
    <xs:sequence>
      <xs:element name="year" type="xs:unsignedShort" dfdl:length="2" dfdl:occurs="1"/>
      <xs:element name="month" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="day" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="hour" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="minute" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
      <xs:element name="second" type="xs:unsignedByte" dfdl:length="1" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TRNSType">
    <xs:sequence>
      <xs:element name="transparencyData" type="png:TransparencyDataType" maxOccurs="256" dfdl:occurs="1..256"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransparencyDataType">
    <xs:sequence>
      <xs:element name="value" type="xs:unsignedShort" dfdl:length="2" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IENDType">
    <xs:sequence>
      <xs:element name="crc" type="xs:hexBinary" dfdl:length="4" dfdl:occurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>