results/0.75/ZIP/zip-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:tns="http://example.com/tns" targetNamespace="http://example.com/tns">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format representation="binary" byteOrder="littleEndian" lengthKind="explicit" encoding="UTF-8" occursCountKind="implicit"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="ZIPFile">
    <xs:complexType>
      <xs:sequence dfdl:sequenceKind="ordered">
        <xs:element name="LocalFileHeader" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered">
              <xs:element name="Signature" type="xs:hexBinary" dfdl:length="4" fixed="504B0304"/>
              <xs:element name="VersionNeededToExtract" type="xs:unsignedShort"/>
              <xs:element name="GeneralPurposeBitFlag" type="xs:unsignedShort"/>
              <xs:element name="CompressionMethod" type="xs:unsignedShort"/>
              <xs:element name="LastModFileTime" type="xs:unsignedShort"/>
              <xs:element name="LastModFileDate" type