results/0.75/ZIP/zip-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.example.com/zip" 
           xmlns="http://www.example.com/zip" 
           elementFormDefault="qualified">
  <xs:element name="LocalHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="localHeaderSignature" type="xs:hexBinary" fixed="404b50"/>
        <xs:element name="versionNeededToExtract" type="xs:unsignedShort"/>
        <xs:element name="generalPurposeBitFlag" type="GeneralPurposeBitFlagType"/>
        <xs:element name="compressionMethod" type="CompressionMethodType"/>
        <xs:element name="lastModTime" type="xs:unsignedShort"/>
        <xs:element name="lastModDate" type="xs:unsignedShort"/>
        <xs:element name="crc32" type="xs:unsignedInt"/>
        <xs:element name="compressedSize" type="xs:unsignedInt"/>
        <xs:element name="uncompressedSize" type="xs:unsignedInt"/>
        <xs:element name="filenameLength" type="xs:unsignedShort"/>
        <xs:element name="extraFieldLength" type="xs:unsignedShort"/>
        <xs:element name="filename" type="xs:string"/>
        <xs:element name="extraField" type="xs:hexBinary" minOccurs="0" maxOccurs="1"/>
        <xs:element name="fileData" type="xs:hexBinary" maxOccurs="unbounded"/>
        <xs:element name="dataDescriptor" type="DataDescriptorType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GeneralPurposeBitFlagType">
    <xs:attribute name="encryptedFile" type="xs:boolean" use="optional"/>
    <xs:attribute name="compressionOption" type="xs:boolean" use="optional"/>
    <xs:attribute name="compressionMethod" type="xs:boolean" use="optional"/>
    <xs:attribute name="dictionarySize" type="xs:boolean" use="optional"/>
    <xs:attribute name="patchData" type="xs:boolean" use="optional"/>
    <xs:attribute name="strongEncryption" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:simpleType name="CompressionMethodType">
    <xs:restriction base="xs:unsignedShort">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="16"/>
      <xs:enumeration value="17"/>
      <xs:enumeration value="18"/>
      <xs:enumeration value="19"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DataDescriptorType">
    <xs:sequence>
      <xs:element name="dataDescriptorSignature" type="xs:hexBinary" fixed="08074b50"/>
      <xs:element name="crc32" type="xs:unsignedInt"/>
      <xs:element name="compressedSize" type="xs:unsignedInt"/>
      <xs:element name="uncompressedSize" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentralDirectoryHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="centralHeaderSignature" type="xs:hexBinary" fixed="02014b50"/>
        <xs:element name="versionMadeBy" type="xs:unsignedShort"/>
        <xs:element name="versionNeededToExtract" type="xs:unsignedShort"/>
        <xs:element name="generalPurposeBitFlag" type="GeneralPurposeBitFlagType"/>
        <xs:element name="compressionMethod" type="CompressionMethodType"/>
        <xs:element name="lastModTime" type="xs:unsignedShort"/>
        <xs:element name="lastModDate" type="xs:unsignedShort"/>
        <xs:element name="crc32" type="xs:unsignedInt"/>
        <xs:element name="compressedSize" type="xs:unsignedInt"/>
        <xs:element name="uncompressedSize" type="xs:unsignedInt"/>
        <xs:element name="filenameLength" type="xs:unsignedShort"/>
        <xs:element name="extraFieldLength" type="xs:unsignedShort"/>
        <xs:element name="fileCommentLength" type="xs:unsignedShort"/>
        <xs:element name="diskNumberStart" type="xs:unsignedShort"/>
        <xs:element name="intAttributes" type="xs:unsignedShort"/>
        <xs:element name="extAttributes" type="xs:unsignedInt"/>
        <xs:element name="localHeaderOffset" type="xs:unsignedInt"/>
        <xs:element name="filename" type="xs:string"/>
        <xs:element name="extraField" type="xs:hexBinary" minOccurs="0" maxOccurs="1"/>
        <xs:element name="fileComment" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndOfCentralDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="endOfCentralDirSignature" type="xs:hexBinary" fixed="06054b50"/>
        <xs:element name="numberThisDisk" type="xs:unsignedShort"/>
        <xs:element name="numberDiskWithStartOfCentralDir" type="xs:unsignedShort"/>
        <xs:element name="totalEntriesInCentralDirOnThisDisk" type="xs:unsignedShort"/>
        <xs:element name="totalEntriesInCentralDir" type="xs:unsignedShort"/>
        <xs:element name="sizeOfCentralDir" type="xs:unsignedInt"/>
        <xs:element name="offsetOfStartOfCentralDir" type="xs:unsignedInt"/>
        <xs:element name="zipfileCommentLength" type="xs:unsignedShort"/>
        <xs:element name="zipfileComment" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>