results/1.0/ELF/elf-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://www.ogf.org/dfdl/elf"
           xmlns:elf="http://www.ogf.org/dfdl/elf"
           elementFormDefault="qualified">

  <xs:element name="elfFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="elf:headerType"/>
        <xs:element name="programHeaderTable" type="elf:programHeaderTableType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="sectionHeaderTable" type="elf:sectionHeaderTableType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element name="e_magic" type="xs:hexBinary" fixed="7f454c4600"/>
      <xs:element name="e_class" type="elf:classType"/>
      <xs:element name="e_data" type="elf:dataType"/>
      <xs:element name="e_version" type="xs:unsignedInt"/>
      <xs:element name="e_osabi" type="elf:osabiType"/>
      <xs:element name="e_abiversion" type="xs:unsignedInt"/>
      <xs:element name="e_pad" type="xs:unsignedInt" fixed="0"/>
      <xs:element name="e_type" type="elf:typeType"/>
      <xs:element name="e_machine" type="elf:machineType"/>
      <xs:element name="e_version" type="xs:unsignedInt"/>
      <xs:element name="e_entry" type="xs:unsignedLong"/>
      <xs:element name="e_phoff" type="xs:unsignedLong"/>
      <xs:element name="e_shoff" type="xs:unsignedLong"/>
      <xs:element name="e_flags" type="xs:unsignedInt"/>
      <xs:element name="e_ehsize" type="xs:unsignedShort"/>
      <xs:element name="e_phentsize" type="xs:unsignedShort"/>
      <xs:element name="e_phnum" type="xs:unsignedShort"/>
      <xs:element name="e_shentsize" type="xs:unsignedShort"/>
      <xs:element name="e_shnum" type="xs:unsignedShort"/>
      <xs:element name="e_shstrndx" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="classType">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dataType">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="osabiType">
    <xs:restriction base="xs:unsignedByte">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeType">
    <xs:restriction base="xs:unsignedShort">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="machineType">
    <xs:restriction base="xs:unsignedShort">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="17"/>
      <xs:enumeration value="18"/>
      <xs:enumeration value="19"/>
      <xs:enumeration value="20"/>
      <xs:enumeration value="21"/>
      <xs:enumeration value="22"/>
      <xs:enumeration value="23"/>
      <xs:enumeration value="42"/>
      <xs:enumeration value="43"/>
      <xs:enumeration value="46"/>
      <xs:enumeration value="47"/>
      <xs:enumeration value="48"/>
      <xs:enumeration value="49"/>
      <xs:enumeration value="50"/>
      <xs:enumeration value="51"/>
      <xs:enumeration value="52"/>
      <xs:enumeration value="53"/>
      <xs:enumeration value="54"/>
      <xs:enumeration value="55"/>
      <xs:enumeration value="56"/>
      <xs:enumeration value="57"/>
      <xs:enumeration value="58"/>
      <xs:enumeration value="59"/>
      <xs:enumeration value="62"/>
      <xs:enumeration value="63"/>
      <xs:enumeration value="64"/>
      <xs:enumeration value="65"/>
      <xs:enumeration value="66"/>
      <xs:enumeration value="67"/>
      <xs:enumeration value="68"/>
      <xs:enumeration value="69"/>
      <xs:enumeration value="70"/>
      <xs:enumeration value="71"/>
      <xs:enumeration value="72"/>
      <xs:enumeration value="73"/>
      <xs:enumeration value="74"/>
      <xs:enumeration value="75"/>
      <xs:enumeration value="76"/>
      <xs:enumeration value="77"/>
      <xs:enumeration value="78"/>
      <xs:enumeration value="89"/>
      <xs:enumeration value="92"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="programHeaderTableType">
    <xs:sequence>
      <xs:element name="segment" type="elf:segmentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="segmentType">
    <xs:sequence>
      <xs:element name="p_type" type="elf:segmentTypeType"/>
      <xs:element name="p_flags" type="xs:unsignedInt"/>
      <xs:element name="p_offset" type="xs:unsignedLong"/>
      <xs:element name="p_vaddr" type="xs:unsignedLong"/>
      <xs:element name="p_paddr" type="xs:unsignedLong"/>
      <xs:element name="p_filesz" type="xs:unsignedLong"/>
      <xs:element name="p_memsz" type="xs:unsignedLong"/>
      <xs:element name="p_align" type="xs:unsignedLong"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="segmentTypeType">
    <xs:restriction base="xs:unsignedInt">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="sectionHeaderTableType">
    <xs:sequence>
      <xs:element name="section" type="elf:sectionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sectionType">
    <xs:sequence>
      <xs:element name="sh_name" type="xs:unsignedInt"/>
      <xs:element name="sh_type" type="elf:sectionTypeType"/>
      <xs:element name="sh_flags" type="xs:unsignedInt"/>
      <xs:element name="sh_addr" type="xs:unsignedLong"/>
      <xs:element name="sh_offset" type="xs:unsignedLong"/>
      <xs:element name="sh_size" type="xs:unsignedLong"/>
      <xs:element name="sh_link" type="xs:unsignedInt"/>
      <xs:element name="sh_info" type="xs:unsignedInt"/>
      <xs:element name="sh_addralign" type="xs:unsignedInt"/>
      <xs:element name="sh_entsize" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="sectionTypeType">
    <xs:restriction base="xs:unsignedInt">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>