results/0.5/Bitcoin-transactions/bitcoin-transactions-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/Bitcoin" 
           xmlns="http://example.com/Bitcoin" 
           elementFormDefault="qualified">
  <xs:element name="BitcoinTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" type="xs:unsignedInt"/>
        <xs:element name="numInputs" type="xs:unsignedInt"/>
        <xs:element name="inputs" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="txId" type="xs:hexBinary" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:format>
                      <dfdl:property name="lengthKind" value="fixed"/>
                      <dfdl:property name="length" value="32"/>
                    </dfdl:format>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="vout" type="xs:unsignedInt"/>
              <xs:element name="scriptSig" type="xs:hexBinary"/>
              <xs:element name="sequence" type="xs:unsignedInt"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="numOutputs" type="xs:unsignedInt"/>
        <xs:element name="outputs" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value" type="xs:unsignedLong"/>
              <xs:element name="scriptPubKey" type="xs:hexBinary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lockTime" type="xs:unsignedInt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="value" type="xs:unsignedInt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Script">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="opcodes" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="opcode" type="xs:unsignedByte"/>
              <xs:element name="data" type="xs:hexBinary" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" type="xs:unsignedInt"/>
        <xs:element name="prevBlock" type="xs:hexBinary" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:format>
                <dfdl:property name="lengthKind" value="fixed"/>
                <dfdl:property name="length" value="32"/>
              </dfdl:format>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="merkleRoot" type="xs:hexBinary" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:format>
                <dfdl:property name="lengthKind" value="fixed"/>
                <dfdl:property name="length" value="32"/>
              </dfdl:format>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="timestamp" type="xs:unsignedInt"/>
        <xs:element name="target" type="xs:unsignedInt"/>
        <xs:element name="nonce" type="xs:unsignedInt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Block">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BlockHeader"/>
        <xs:element name="transactions" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="BitcoinTransaction"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:appinfo>
      <dfdl:format>
        <dfdl:property name="encoding" value="binary"/>
      </dfdl:format>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>