results/0.75/SQLITE3-DB/sqlite3-db-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           targetNamespace="http://www.ogf.org/dfdl/dfdl-1.0" 
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           xsi:schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0 http://www.ogf.org/dfdl/dfdl-1.0/dfdl.xsd"
           xmlns="http://www.ogf.org/dfdl/dfdl-1.0">
  <xs:element name="definition" type="dfdl:definitionType">
    <xs:complexType name="definitionType">
      <xs:sequence>
        <xs:element name="format" type="xs:string" dfdl:ref="sqlite3-db"/>
        <xs:element name="element" dfdl:ref="database-header" occurs="1..1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element" dfdl:ref="magic" occurs="1..1" dfdl:length="16" dfdl:representation="text" dfdl:textEncoding="UTF-8" dfdl:textKind="fixed"/>
              <xs:element name="element" dfdl:ref="page-size" occurs="1..1" dfdl:length="2" dfdl:representation="binary" dfdl:binaryNumberRep="uint16">
                <xs:complexType>
                  <xs:attribute name="dfdl:assert" type="xs:string" value="value >= 512 and value = 512 or value = 1024 or value = 2048 or value = 4096 or value = 8192 or value = 16384 or value = 32768 or value = 65536"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="write-version" occurs="1..1" dfdl:length="1" dfdl:representation="binary" dfdl:binaryNumberRep="uint8">
                <xs:complexType>
                  <xs:attribute name="dfdl:assert" type="xs:string" value="value = 1 or value = 2"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="read-version" occurs="1..1" dfdl:length="1" dfdl:representation="binary" dfdl:binaryNumberRep="uint8">
                <xs:complexType>
                  <xs:attribute name="dfdl:assert" type="xs:string" value="value = 1 or value = 2"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="reserved" occurs="1..1" dfdl:length="2"/>
              <xs:element name="element" dfdl:ref="max-embedded-payload-fraction" occurs="1..1" dfdl:length="1" dfdl:representation="binary" dfdl:binaryNumberRep="uint8">
                <xs:complexType>
                  <xs:attribute name="dfdl:assert" type="xs:string" value="value = 64"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="min-embedded-payload-fraction" occurs="1..1" dfdl:length="1" dfdl:representation="binary" dfdl:binaryNumberRep="uint8">
                <xs:complexType>
                  <xs:attribute name="dfdl:assert" type="xs:string" value="value = 32"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="leaf-payload-fraction" occurs="1..1" dfdl:length="1" dfdl:representation="binary" dfdl:binaryNumberRep="uint8">
                <xs:complexType>
                  <xs:attribute name="dfdl:assert" type="xs:string" value="value = 32"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="file-change-time" occurs="1..1" dfdl:length="4" dfdl:representation="binary" dfdl:binaryNumberRep="uint32"/>
              <xs:element name="element" dfdl:ref="file-change-time-nano" occurs="1..1" dfdl:length="4" dfdl:representation="binary" dfdl:binaryNumberRep="uint32"/>
              <xs:element name="element" dfdl:ref="version-valid-for-number" occurs="1..1" dfdl:length="4" dfdl:representation="binary" dfdl:binaryNumberRep="uint32"/>
              <xs:element name="element" dfdl:ref="sqlite-version-number" occurs="1..1" dfdl:length="4" dfdl:representation="binary" dfdl:binaryNumberRep="uint32"/>
              <xs:element name="element" dfdl:ref="in-header-db-size" occurs="1..1" dfdl:length="4" dfdl:representation="binary" dfdl:binaryNumberRep="uint32"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="element" dfdl:ref="page" occurs="1..*">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element" dfdl:ref="page-type" occurs="1..1" dfdl:length="1" dfdl:representation="binary" dfdl:binaryNumberRep="uint8">
                <xs:complexType>
                  <xs:attribute name="dfdl:assert" type="xs:string" value="value = 0 or value = 1 or value = 2 or value = 3 or value = 4 or value = 5 or value = 6"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="first-freeblock" occurs="1..1" dfdl:length="2" dfdl:representation="binary" dfdl:binaryNumberRep="uint16"/>
              <xs:element name="element" dfdl:ref="cell-content-area" occurs="1..1" dfdl:length="2" dfdl:representation="binary" dfdl:binaryNumberRep="uint16"/>
              <xs:element name="element" dfdl:ref="num-cells" occurs="1..1" dfdl:length="2" dfdl:representation="binary" dfdl:binaryNumberRep="uint16"/>
              <xs:element name="element" dfdl:ref="cells" occurs="1..*">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" dfdl:ref="cell" occurs="1..1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="element" dfdl:ref="payload-length" occurs="1..1" dfdl:length="1..9" dfdl:representation="binary" dfdl:binaryNumberRep="varuint">
                            <xs:complexType>
                              <xs:attribute name="dfdl:assert" type="xs:string" value="value >= 0"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="element" dfdl:ref="header-length" occurs="1..1" dfdl:length="1..9" dfdl:representation="binary" dfdl:binaryNumberRep="varuint">
                            <xs:complexType>
                              <xs:attribute name="dfdl:assert" type="xs:string" value="value >= 0"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="element" dfdl:ref="num-columns" occurs="1..1" dfdl:length="1..9" dfdl:representation="binary" dfdl:binaryNumberRep="varuint">
                            <xs:complexType>
                              <xs:attribute name="dfdl:assert" type="xs:string" value="value >= 0"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="element" dfdl:ref="column-data" occurs="1..*">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="element" dfdl:ref="column" occurs="1..1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="element" dfdl:ref="type" occurs="1..1" dfdl:length="1" dfdl:representation="binary" dfdl:binaryNumberRep="uint8">
                                        <xs:complexType>
                                          <xs:attribute name="dfdl:assert" type="xs:string" value="value = 0 or value = 1 or value = 2 or value = 3 or value = 4 or value = 5"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="element" dfdl:ref="value" occurs="1..1" dfdl:length="*"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="element" dfdl:ref="payload" occurs="1..1" dfdl:length="*"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="element" dfdl:ref="overflow-page-list" occurs="0..1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" dfdl:ref="overflow-page" occurs="1..*">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="element" dfdl:ref="page-number" occurs="1..1" dfdl:length="4" dfdl:representation="binary" dfdl:binaryNumberRep="uint32"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>