results/0.5/TLS-Client-Hello/tls-client-hello-deepseek-ai-deepseek-v3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/tls-client-hello"
           xmlns:tls="http://example.com/tls-client-hello">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:defineFormat name="GeneralFormat">
        <dfdl:format representation="binary" byteOrder="bigEndian" lengthKind="explicit"/>
      </dfdl:defineFormat>
      <dfdl:format ref="tls:GeneralFormat"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="ClientHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="legacy_version" type="xs:hexBinary" dfdl:length="2"/>
        <xs:element name="random" type="xs:hexBinary" dfdl:length="32"/>
        <xs:element name="legacy_session_id">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="length" type="xs:unsignedByte"/>
              <xs:element name="session_id" type="xs:hexBinary" dfdl:length="{../length}"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cipher_suites">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="length" type="xs:unsignedShort"/>
              <xs:element name="cipher_suite" type="xs:hexBinary" dfdl:length="2" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="legacy_compression_methods">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="length" type="xs:unsignedByte"/>
              <xs:element name="compression_method" type="xs:hexBinary" dfdl:length="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="length" type="xs:unsignedShort"/>
              <xs:element name="extension" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="extension_type" type="xs:unsignedShort"/>
                    <xs:element name="extension_data_length" type="xs:unsignedShort"/>
                    <xs:element name="extension_data" type="xs:hexBinary" dfdl:length="{../extension_data_length}"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>