results/0.5/TLS-Client-Hello/tls-client-hello-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com" 
           xmlns="http://example.com" 
           elementFormDefault="qualified">
  <xs:element name="ClientHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="legacy_version" type="xs:unsignedShort"/>
        <xs:element name="random" type="xs:hexBinary" fixed="32"/>
        <xs:element name="legacy_session_id" type="xs:hexBinary"/>
        <xs:element name="cipher_suites">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cipher_suite" type="xs:unsignedShort" maxOccurs="65535" minOccurs="2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="legacy_compression_methods">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="compression_method" type="xs:unsignedByte" maxOccurs="255" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extension" maxOccurs="65535" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="extension_type" type="xs:unsignedShort"/>
                    <xs:element name="extension_data" type="xs:hexBinary"/>
                    <xs:choice>
                      <xs:element name="supported_versions">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="version" type="xs:unsignedShort" maxOccurs="65535" minOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="pre_shared_key">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="identity" type="xs:hexBinary" maxOccurs="65535" minOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="key_share">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="group" type="xs:unsignedShort"/>
                            <xs:element name="key_exchange" type="xs:hexBinary"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="supported_groups">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="group" type="xs:unsignedShort" maxOccurs="65535" minOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="signature_algorithms">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="algorithm" type="xs:unsignedShort" maxOccurs="65535" minOccurs="1"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>