results/0.5/GIF/gif-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/GIF" 
           xmlns="http://example.com/GIF" 
           elementFormDefault="qualified">
  <xs:element name="gif">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signature">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="GIF"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="version">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="87a|89a"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="logicalScreenWidth" type="xs:unsignedShort"/>
        <xs:element name="logicalScreenHeight" type="xs:unsignedShort"/>
        <xs:element name="packedFields" type="xs:byte"/>
        <xs:element name="backgroundColorIndex" type="xs:byte"/>
        <xs:element name="pixelAspectRatio" type="xs:byte"/>
        <xs:element name="globalColorTable" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="colorTableEntry" type="xs:hexBinary" minOccurs="0" maxOccurs="768"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="imageDescriptor" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="imageSeparator">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value=","/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="imageLeftPosition" type="xs:unsignedShort"/>
              <xs:element name="imageTopPosition" type="xs:unsignedShort"/>
              <xs:element name="imageWidth" type="xs:unsignedShort"/>
              <xs:element name="imageHeight" type="xs:unsignedShort"/>
              <xs:element name="packedFields" type="xs:byte"/>
              <xs:element name="localColorTable" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="colorTableEntry" type="xs:hexBinary" minOccurs="0" maxOccurs="768"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="imageData" type="xs:hexBinary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extensionIntroducer">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="!"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="extensionLabel">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="F9|FE|FF"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="extensionData" type="xs:hexBinary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="trailer">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=";"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>