results/0.75/Bitcoin-transactions/bitcoin-transactions-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/Bitcoin" 
           xmlns="http://example.com/Bitcoin" 
           elementFormDefault="qualified">
  <xs:element name="bitcoinTransaction" dfdl:format="sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transactionVersion" type="xs:unsignedInt" dfdl:format="uint32" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:length="4"/>
        <xs:element name="inputCount" type="xs:unsignedInt" dfdl:format="varInt" dfdl:representation="binary" dfdl:byteOrder="bigEndian"/>
        <xs:element name="inputs" type="inputType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:occurs>inputCount</dfdl:occurs>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="outputCount" type="xs:unsignedInt" dfdl:format="varInt" dfdl:representation="binary" dfdl:byteOrder="bigEndian"/>
        <xs:element name="outputs" type="outputType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:occurs>outputCount</dfdl:occurs>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="lockTime" type="xs:unsignedInt" dfdl:format="uint32" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:length="4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="inputType" dfdl:format="sequence">
    <xs:sequence>
      <xs:element name="previousTransactionHash" type="xs:hexBinary" dfdl:format="bytes" dfdl:representation="binary" dfdl:length="32"/>
      <xs:element name="previousTransactionIndex" type="xs:unsignedInt" dfdl:format="uint32" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:length="4"/>
      <xs:element name="scriptLength" type="xs:unsignedInt" dfdl:format="varInt" dfdl:representation="binary" dfdl:byteOrder="bigEndian"/>
      <xs:element name="scriptSig" type="xs:hexBinary" dfdl:format="bytes">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length>scriptLength</dfdl:length>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="sequenceNumber" type="xs:unsignedInt" dfdl:format="uint32" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputType" dfdl:format="sequence">
    <xs:sequence>
      <xs:element name="value" type="xs:unsignedLong" dfdl:format="uint64" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:length="8"/>
      <xs:element name="scriptLength" type="xs:unsignedInt" dfdl:format="varInt" dfdl:representation="binary" dfdl:byteOrder="bigEndian"/>
      <xs:element name="scriptPubKey" type="xs:hexBinary" dfdl:format="bytes">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length>scriptLength</dfdl:length>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>