results/0.0/ARP/arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://www.example.org/ARP" 
           xmlns:arp="http://www.example.org/ARP" 
           elementFormDefault="qualified">
  <xs:element name="arp" type="arp:arpType"/>
  <xs:complexType name="arpType">
    <xs:sequence>
      <xs:element name="hardwareType" type="xs:unsignedShort"/>
      <xs:element name="protocolType" type="xs:unsignedShort"/>
      <xs:element name="hardwareAddressLength" type="xs:unsignedByte"/>
      <xs:element name="protocolAddressLength" type="xs:unsignedByte"/>
      <xs:element name="operation" type="xs:unsignedShort"/>
      <xs:element name="senderHardwareAddress" type="arp:hardwareAddressType"/>
      <xs:element name="senderProtocolAddress" type="arp:protocolAddressType"/>
      <xs:element name="targetHardwareAddress" type="arp:hardwareAddressType"/>
      <xs:element name="targetProtocolAddress" type="arp:protocolAddressType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hardwareAddressType">
    <xs:sequence>
      <xs:element name="address" type="xs:hexBinary" dfdl:length="6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="protocolAddressType">
    <xs:sequence>
      <xs:element name="address" type="xs:hexBinary" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>