results/0.0/ARP/arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/ARP"
           xmlns="http://example.com/ARP"
           elementFormDefault="qualified">

  <xs:include schemaLocation="arp-types.xsd"/>

  <xs:element name="arp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hardwareType" dfdl:occursCount="1"/>
        <xs:element ref="protocolType" dfdl:occursCount="1"/>
        <xs:element ref="hardwareAddressLength" dfdl:occursCount="1"/>
        <xs:element ref="protocolAddressLength" dfdl:occursCount="1"/>
        <xs:element ref="operation" dfdl:occursCount="1"/>
        <xs:element ref="senderHardwareAddress" dfdl:occursCount="1"/>
        <xs:element ref="senderProtocolAddress" dfdl:occursCount="1"/>
        <xs:element ref="targetHardwareAddress" dfdl:occursCount="1"/>
        <xs:element ref="targetProtocolAddress" dfdl:occursCount="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="hardwareType" type="xs:unsignedShort" dfdl:length="2" dfdl:byteOrder="big"/>
  <xs:element name="protocolType" type="xs:unsignedShort" dfdl:length="2" dfdl:byteOrder="big"/>
  <xs:element name="hardwareAddressLength" type="xs:unsignedByte" dfdl:length="1"/>
  <xs:element name="protocolAddressLength" type="xs:unsignedByte" dfdl:length="1"/>
  <xs:element name="operation" type="xs:unsignedShort" dfdl:length="2" dfdl:byteOrder="big"/>
  <xs:element name="senderHardwareAddress" type="xs:hexBinary" dfdl:length="6"/>
  <xs:element name="senderProtocolAddress" type="xs:unsignedInt" dfdl:length="4" dfdl:byteOrder="big"/>
  <xs:element name="targetHardwareAddress" type="xs:hexBinary" dfdl:length="6"/>
  <xs:element name="targetProtocolAddress" type="xs:unsignedInt" dfdl:length="4" dfdl:byteOrder="big"/>

</xs:schema>