results/1.0/ARP/arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://www.ogf.org/dfdl/dfdl-1.0/" 
           elementFormDefault="qualified">
  <xs:element name="arp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hardwareType" type="xs:unsignedShort"/>
        <xs:element name="protocolType" type="xs:unsignedShort"/>
        <xs:element name="hardwareAddressLength" type="xs:unsignedByte"/>
        <xs:element name="protocolAddressLength" type="xs:unsignedByte"/>
        <xs:element name="operation" type="xs:unsignedShort"/>
        <xs:element name="senderHardwareAddress" type="xs:hexBinary" dfdl:length="6"/>
        <xs:element name="senderProtocolAddress" type="xs:hexBinary" dfdl:length="4"/>
        <xs:element name="targetHardwareAddress" type="xs:hexBinary" dfdl:length="6"/>
        <xs:element name="targetProtocolAddress" type="xs:hexBinary" dfdl:length="4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="uint16">
    <xs:restriction base="xs:unsignedShort"/>
  </xs:simpleType>
  <xs:simpleType name="uint8">
    <xs:restriction base="xs:unsignedByte"/>
  </xs:simpleType>
  <xs:simpleType name="bytes">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>
</xs:schema>