results/0.25/ZIP/zip-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://www.ogf.org/dfdl/dfdl-1.0/" 
           xmlns="http://www.ogf.org/dfdl/dfdl-1.0/" 
           elementFormDefault="qualified">
  <xs:element name="format">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sequence">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="assert" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType mixed="true">
                              <xs:attribute name="value" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                        <xs:attribute name="length" type="xs:string" use="optional"/>
                        <xs:attribute name="occurs" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="occurs" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LocalFileHeader" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Signature" type="xs:hexBinary" length="4"/>
              <xs:element name="VersionNeededToExtract" type="xs:unsignedShort"/>
              <xs:element name="GeneralPurposeBitFlag" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="CompressionMethod" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..255</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="LastModifiedTime" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="LastModifiedDate" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="CRC32" type="xs:unsignedInt"/>
              <xs:element name="CompressedSize" type="xs:unsignedInt"/>
              <xs:element name="UncompressedSize" type="xs:unsignedInt"/>
              <xs:element name="FilenameLength" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="ExtraFieldLength" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Filename" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length>FilenameLength</dfdl:length>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="ExtraField" type="xs:hexBinary">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length>ExtraFieldLength</dfdl:length>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CentralDirectory" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Signature" type="xs:hexBinary" length="4"/>
              <xs:element name="VersionMadeBy" type="xs:unsignedShort"/>
              <xs:element name="VersionNeededToExtract" type="xs:unsignedShort"/>
              <xs:element name="GeneralPurposeBitFlag" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="CompressionMethod" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..255</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="LastModifiedTime" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="LastModifiedDate" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="CRC32" type="xs:unsignedInt"/>
              <xs:element name="CompressedSize" type="xs:unsignedInt"/>
              <xs:element name="UncompressedSize" type="xs:unsignedInt"/>
              <xs:element name="FilenameLength" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="ExtraFieldLength" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="FileCommentLength" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="DiskNumberStart" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="InternalFileAttributes" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="ExternalFileAttributes" type="xs:unsignedInt"/>
              <xs:element name="FileHeaderOffset" type="xs:unsignedInt"/>
              <xs:element name="Filename" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length>FilenameLength</dfdl:length>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="ExtraField" type="xs:hexBinary">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length>ExtraFieldLength</dfdl:length>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="FileComment" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length>FileCommentLength</dfdl:length>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EndOfCentralDirectory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Signature" type="xs:hexBinary" length="4"/>
              <xs:element name="NumberThisDisk" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="NumberDiskCentralDirectoryStarts" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="NumberEntriesCentralDirectoryThisDisk" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="TotalNumberEntriesCentralDirectory" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="SizeCentralDirectory" type="xs:unsignedInt"/>
              <xs:element name="OffsetStartCentralDirectory" type="xs:unsignedInt"/>
              <xs:element name="CommentLength" type="xs:unsignedShort">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:assert>
                      <dfdl:value>0..65535</dfdl:value>
                    </dfdl:assert>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="Comment" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length>CommentLength</dfdl:length>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataDescriptor" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Signature" type="xs:hexBinary" length="4"/>
              <xs:element name="CRC32" type="xs:unsignedInt"/>
              <xs:element name="CompressedSize" type="xs:unsignedInt"/>
              <xs:element name="UncompressedSize" type="xs:unsignedInt"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>