results/0.25/ZIP/zip-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/ZIP"
           xmlns:tns="http://example.com/ZIP"
           elementFormDefault="qualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/DFDL.xsd"/>

  <xs:element name="zipFile">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:elementrefund>refill</dfdl:elementrefund>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:fileHeader" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="fileHeader">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:representation>binary</dfdl:representation>
        <dfdl:encoding>ISO-8859-1</dfdl:encoding>
        <dfdl:binaryNumberProperties>
          <dfdl:byteOrder>big</dfdl:byteOrder>
        </dfdl:binaryNumberProperties>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="localFileHeader" type="tns:localFileHeaderType"/>
        <xs:element name="fileData" type="tns:fileDataType"/>
        <xs:element name="dataDescriptor" type="tns:dataDescriptorType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="localFileHeaderType">
    <xs:sequence>
      <xs:element name="signature" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="version" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="flags" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="compressionMethod" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="lastModifiedTime" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="lastModifiedDate" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="crc32" type="xs:unsignedInt" dfdl:length="4"/>
      <xs:element name="compressedSize" type="xs:unsignedInt" dfdl:length="4"/>
      <xs:element name="uncompressedSize" type="xs:unsignedInt" dfdl:length="4"/>
      <xs:element name="fileNameLength" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="extraFieldLength" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="fileName" type="xs:string" dfdl:length="fileNameLength"/>
      <xs:element name="extraField" type="xs:hexBinary" dfdl:length="extraFieldLength"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fileDataType">
    <xs:sequence>
      <xs:element name="fileData" type="xs:hexBinary" dfdl:length="compressedSize"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataDescriptorType">
    <xs:sequence>
      <xs:element name="crc32" type="xs:unsignedInt" dfdl:length="4"/>
      <xs:element name="compressedSize" type="xs:unsignedInt" dfdl:length="4"/>
      <xs:element name="uncompressedSize" type="xs:unsignedInt" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>