results/0.5/TIFF/tiff-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://www.example.org/tiff"
           xmlns:tiff="http://www.example.org/tiff"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format byteOrder="bigEndian" lengthKind="explicit" encoding="UTF-8"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="TIFF">
    <xs:complexType>
      <xs:sequence dfdl:sequenceKind="ordered">
        <xs:element name="Header" type="tiff:HeaderType"/>
        <xs:element name="ImageFileDirectory" type="tiff:IFDType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence dfdl:sequenceKind="ordered">
      <xs:element name="ByteOrder" type="tiff:ByteOrderType" dfdl:length="2"/>
      <xs:element name="Version" type="tiff:VersionType" dfdl:length="2"/>
      <xs:element name="FirstIFDOffset" type="tiff:FirstIFDOffsetType" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ByteOrderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="II"/>
      <xs:enumeration value="MM"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VersionType">
    <xs:restriction base="xs:short">
      <xs:enumeration value="42"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FirstIFDOffsetType">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:complexType name="IFDType">
    <xs:sequence dfdl:sequenceKind="ordered">
      <xs:element name="EntryCount" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="Entries" type="tiff:EntryType" maxOccurs="unbounded"/>
      <xs:element name="NextIFDOffset" type="xs:unsignedLong" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EntryType">
    <xs:sequence dfdl:sequenceKind="ordered">
      <xs:element name="Tag" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="Type" type="tiff:DataType" dfdl:length="2"/>
      <xs:element name="Count" type="xs:unsignedLong" dfdl:length="4"/>
      <xs:element name="ValueOffset" type="xs:unsignedLong" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DataType">
    <xs:restriction base="xs:unsignedShort">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>