results/0.5/TIFF/tiff-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/tiff"
           xmlns:tns="http://example.com/tiff"
           elementFormDefault="qualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/XMLSchema/DFDL.xsd"/>

  <xs:element name="tiff">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:format rdf:resource="http://www.ogf.org/dfdl/2008/dfdl-1.0#binary"/>
        <dfdl:encoding rdf:resource="http://www.ogf.org/dfdl/2008/dfdl-1.0#iso-8859-1"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:header" dfdl:occurs="1..1" dfdl:outputValueCalculator="@value + '0x'"/>
        <xs:element ref="tns:ifd" dfdl:occurs="1..1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="header">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:hexBinary">
          <xs:attribute name="value" type="xs:integer" dfdl:outputNewLine="true" dfdl:outputValueCalculator="@value"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ifd">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:tag" dfdl:occurs="2..256" dfdl:separator="0x00"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="tag">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedShort" dfdl:alignment="bit" dfdl:alignmentOffset="0" dfdl:outputNewLine="false" dfdl:outputValueCalculator="@value"/>
        <xs:element name="type" type="xs:unsignedShort" dfdl:alignment="bit" dfdl:alignmentOffset="0" dfdl:outputNewLine="false" dfdl:outputValueCalculator="@value"/>
        <xs:element name="count" type="xs:unsignedLong" dfdl:alignment="bit" dfdl:alignmentOffset="0" dfdl:outputNewLine="false" dfdl:outputValueCalculator="@value"/>
        <xs:element name="value" type="xs:unsignedLong" dfdl:alignment="bit" dfdl:alignmentOffset="0" dfdl:outputNewLine="true" dfdl:outputValueCalculator="@value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>