results/0.5/TIFF/tiff-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           xmlns:tiff="http://ns.tiff" 
           targetNamespace="http://ns.tiff" 
           elementFormDefault="qualified">
  <xs:element name="tiff">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="byteOrder" type="tiff:byteOrder" minOccurs="1" maxOccurs="1"/>
        <xs:element name="version" type="xs:integer" minOccurs="1" maxOccurs="1"/>
        <xs:element name="ifdOffset" type="xs:integer" minOccurs="1" maxOccurs="1"/>
        <xs:element name="ifd" type="tiff:IFD" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IFD">
    <xs:sequence>
      <xs:element name="tag" type="tiff:tag" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="nextIFDOffset" type="xs:integer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tag">
    <xs:sequence>
      <xs:element name="tagNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dataType" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="count" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="valueOffset" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="byteOrder">
    <xs:restriction base="xs:hexBinary">
      <xs:length value="2"/>
      <xs:enumeration value="4949"/>
      <xs:enumeration value="4d4d"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="imageWidth" type="xs:integer"/>
  <xs:element name="imageLength" type="xs:integer"/>
  <xs:element name="bitsPerSample" type="xs:integer"/>
  <xs:element name="compression" type="xs:integer"/>
  <xs:element name="photometricInterpretation" type="xs:integer"/>
  <xs:element name="orientation" type="xs:integer"/>
  <xs:element name="samplesPerPixel" type="xs:integer"/>
  <xs:element name="planarConfiguration" type="xs:integer"/>
  <xs:element name="yCbCrSubSampling" type="xs:integer"/>
  <xs:element name="yCbCrPositioning" type="xs:integer"/>
  <xs:element name="xResolution" type="xs:integer"/>
  <xs:element name="yResolution" type="xs:integer"/>
  <xs:element name="resolutionUnit" type="xs:integer"/>
  <xs:element name="dateTime" type="xs:string"/>
  <xs:element name="artist" type="xs:string"/>
  <xs:element name="imageDescription" type="xs:string"/>
  <xs:element name="make" type="xs:string"/>
  <xs:element name="model" type="xs:string"/>
  <xs:element name="software" type="xs:string"/>
  <xs:element name="dateTimeOriginal" type="xs:string"/>
  <xs:element name="dateTimeDigitized" type="xs:string"/>
  <xs:element name="stripOffsets" type="xs:integer"/>
  <xs:element name="stripByteCounts" type="xs:integer"/>
  <xs:element name="tileWidth" type="xs:integer"/>
  <xs:element name="tileLength" type="xs:integer"/>
  <xs:element name="tileOffsets" type="xs:integer"/>
  <xs:element name="tileByteCounts" type="xs:integer"/>
  <xs:annotation>
    <xs:appinfo>
      <dfdl:format>
        <dfdl:property name="representation" value="binary"/>
        <dfdl:property name="encoding" value="bigEndian"/>
        <dfdl:property name="byteOrder" value="mostSignificantByteFirst"/>
        <dfdl:property name="textEncoding" value="UTF-8"/>
      </dfdl:format>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>