results/0.75/TIFF/tiff-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" targetNamespace="http://www.ogf.org/dfdl/dfdl-1.0/" elementFormDefault="qualified">
  <xs:element name="defineFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dfdl:element" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="encoding" type="xs:string" use="required"/>
      <xs:attribute name="lengthKind" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="element" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dfdl:element" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="length" type="xs:string" use="required"/>
      <xs:attribute name="occurs" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="assert" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
    <xs:complexType>
      <xs:attribute name="expression" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tiffHeader" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dfdl:element" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="length" type="xs:string" use="required"/>
      <xs:attribute name="occurs" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="directoryEntry" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tag" type="uint16" length="2" occurs="1..1"/>
        <xs:element name="type" type="uint16" length="2" occurs="1..1"/>
        <xs:element name="count" type="uint32" length="4" occurs="1..1"/>
        <xs:element name="valueOffset" type="uint32" length="4" occurs="1..1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="imageData" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="stripOffsets" type="uint32" length="4" occurs="1..*"/>
        <xs:element name="stripByteCounts" type="uint32" length="4" occurs="1..*"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tags" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="imageWidth" type="uint32" length="4" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="256"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="imageLength" type="uint32" length="4" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="257"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="bitsPerSample" type="uint16" length="2" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="258"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="compression" type="uint16" length="2" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="259"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="photometricInterpretation" type="uint16" length="2" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="262"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="orientation" type="uint16" length="2" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="274"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="samplesPerPixel" type="uint16" length="2" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="277"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="rowsPerStrip" type="uint32" length="4" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="278"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="stripOffsets" type="uint32" length="4" occurs="0..*">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="279"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="stripByteCounts" type="uint32" length="4" occurs="0..*">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="280"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="planarConfiguration" type="uint16" length="2" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="284"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="xResolution" type="uint32" length="4" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="282"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="yResolution" type="uint32" length="4" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="283"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="resolutionUnit" type="uint16" length="2" occurs="0..1">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:string" use="required" fixed="296"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tiff" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tiffHeader" type="binary" length="8" occurs="1..1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="byteOrder" type="binary" length="2" occurs="1..1">
                <xs:complexType>
                  <xs:attribute name="assert" type="xs:string" use="required" fixed=". = 'II' or . = 'MM'"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="magicNumber" type="binary" length="2" occurs="1..1">
                <xs:complexType>
                  <xs:attribute name="assert" type="xs:string" use="required" fixed=". = '42'"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ifdOffset" type="uint32" length="4" occurs="1..1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ifd" type="binary" length="variable" occurs="1..*">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="numberOfDirectoryEntries" type="uint16" length="2" occurs="1..1"/>
              <xs:element name="directoryEntries" type="directoryEntry" length="variable" occurs="1..*"/>
              <xs:element name="nextIfdOffset" type="uint32" length="4" occurs="1..1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="imageData" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="tags" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>