results/0.75/TIFF/tiff-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/TIFF"
           xmlns:tiff="http://example.com/TIFF"
           elementFormDefault="qualified">

  <xs:include schemaLocation="dfdl.dtd"/>

  <xs:element name="tiff">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:format========
          representation="binary"
          endianness="big"
          characterSet="UTF-8"
        />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tiff:headerType" dfdl:occurs="1..1"/>
        <xs:element name="ifds" type="tiff:ifdType" dfdl:occurs="1..*"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element name="byteOrder" type="xs:unsignedByte" dfdl:length="2"/>
      <xs:element name="magicNumber" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="ifdOffset" type="xs:unsignedInt" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ifdType">
    <xs:sequence>
      <xs:element name="tag" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="type" type="xs:unsignedShort" dfdl:length="2"/>
      <xs:element name="count" type="xs:unsignedInt" dfdl:length="4"/>
      <xs:element name="value" type="xs:unsignedInt" dfdl:length="4"/>
      <xs:element name="offset" type="xs:unsignedInt" dfdl:length="4"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>