results/0.0/DNS/dns-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/DNS" 
           xmlns="http://example.com/DNS" 
           elementFormDefault="qualified">
  <xs:element name="DNSMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:unsignedShort"/>
              <xs:element name="QR" type="xs:boolean"/>
              <xs:element name="OPCODE" type="xs:unsignedByte"/>
              <xs:element name="AA" type="xs:boolean"/>
              <xs:element name="TC" type="xs:boolean"/>
              <xs:element name="RD" type="xs:boolean"/>
              <xs:element name="RA" type="xs:boolean"/>
              <xs:element name="Z" type="xs:unsignedByte"/>
              <xs:element name="RCODE" type="xs:unsignedByte"/>
              <xs:element name="QDCOUNT" type="xs:unsignedShort"/>
              <xs:element name="ANCOUNT" type="xs:unsignedShort"/>
              <xs:element name="NSCOUNT" type="xs:unsignedShort"/>
              <xs:element name="ARCOUNT" type="xs:unsignedShort"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Question" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="QNAME" type="xs:string"/>
              <xs:element name="QTYPE" type="xs:unsignedShort"/>
              <xs:element name="QCLASS" type="xs:unsignedShort"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Answer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string"/>
              <xs:element name="TYPE" type="xs:unsignedShort"/>
              <xs:element name="CLASS" type="xs:unsignedShort"/>
              <xs:element name="TTL" type="xs:unsignedInt"/>
              <xs:element name="RDLENGTH" type="xs:unsignedShort"/>
              <xs:element name="RDATA" type="xs:hexBinary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Authority" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string"/>
              <xs:element name="TYPE" type="xs:unsignedShort"/>
              <xs:element name="CLASS" type="xs:unsignedShort"/>
              <xs:element name="TTL" type="xs:unsignedInt"/>
              <xs:element name="RDLENGTH" type="xs:unsignedShort"/>
              <xs:element name="RDATA" type="xs:hexBinary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Additional" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string"/>
              <xs:element name="TYPE" type="xs:unsignedShort"/>
              <xs:element name="CLASS" type="xs:unsignedShort"/>
              <xs:element name="TTL" type="xs:unsignedInt"/>
              <xs:element name="RDLENGTH" type="xs:unsignedShort"/>
              <xs:element name="RDATA" type="xs:hexBinary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:appinfo>
      <dfdl:format>
        <dfdl:binaryFormat byteOrder="bigEndian" representation="binary"/>
      </dfdl:format>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>