results/0.5/DNS/dns-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/DNS"
           xmlns="http://example.com/DNS"
           elementFormDefault="qualified">
  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/DFDL.xsd"/>
  <xs:element name="dns-message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="dns-headerType" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
        <xs:element name="question" type="dns-questionType" minOccurs="1" maxOccurs="unbounded" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
        <xs:element name="answer" type="dns-answerType" minOccurs="0" maxOccurs="unbounded" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
        <xs:element name="authority" type="dns-answerType" minOccurs="0" maxOccurs="unbounded" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
        <xs:element name="additional" type="dns-answerType" minOccurs="0" maxOccurs="unbounded" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dns-headerType">
    <xs:sequence>
      <xs:element name="id" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="flags" type="dns-flagsType" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="qdcnt" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="ancnt" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="nsnt" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="arcnt" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dns-flagsType">
    <xs:sequence>
      <xs:element name="qr" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="opcode" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="aa" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="tc" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="rd" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="ra" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="z" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="rcode" type="xs:unsignedByte" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dns-questionType">
    <xs:sequence>
      <xs:element name="qname" type="dns-qnameType" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="qtype" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="qclass" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dns-qnameType">
    <xs:sequence>
      <xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="unbounded" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dns-answerType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="type" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="class" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="ttl" type="xs:unsignedInt" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="rdlength" type="xs:unsignedShort" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
      <xs:element name="rdata" type="xs:hexBinary" dfdl:representation="binary" dfdl:byteOrder="bigEndian" dfdl:encoding="utf-8"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>