results/0.75/GZIP/gzip-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/gzip"
           xmlns="http://example.org/gzip"
           elementFormDefault="qualified"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd"
           xml:lang="en">

  <xs:element name="gzip">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID1" type="xs:unsignedByte" fixed="31">
          <xs:annotation>
            <xs:documentation>ID1 must be x'1F'</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ID2" type="xs:unsignedByte" fixed="139">
          <xs:annotation>
            <xs:documentation>ID2 must be x'8B'</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CM" type="xs:unsignedByte" fixed="8">
          <xs:annotation>
            <xs:documentation>CM must be x'08'</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="FLAGS" type="xs:unsignedByte"/>
        <xs:element name="MTIME" type="xs:unsignedInt"/>
        <xs:element name="XFL" type="xs:unsignedByte"/>
        <xs:element name="OS" type="xs:unsignedByte"/>
        <xs:element name="XLEN" type="xs:unsignedShort" minOccurs="0"/>
        <xs:element name="EXTRA" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="FNAME" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>FNAME is a null-terminated string</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="FCOMMENT" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>FCOMMENT is a null-terminated string</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="HCRC" type="xs:unsignedShort" minOccurs="0"/>
        <xs:element name="CompressedData" type="xs:unsignedByte" maxOccurs="unbounded"/>
        <xs:element name="ISIZE" type="xs:unsignedInt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="byte">
    <xs:restriction base="xs:unsignedByte"/>
  </xs:simpleType>

  <xs:simpleType name="unsignedInt">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:simpleType name="unsignedShort">
    <xs:restriction base="xs:unsignedShort"/>
  </xs:simpleType>

</xs:schema>