results/0.0/TLS-Client-Hello/tls-client-hello-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format representation="binary" byteOrder="bigEndian" lengthKind="explicit" encoding="UTF-8" lengthUnits="bytes"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="ClientHello">
    <xs:complexType>
      <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="yes">
        <xs:element name="ProtocolVersion" type="xs:hexBinary" dfdl:length="2" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
        <xs:element name="Random" type="xs:hexBinary" dfdl:length="32" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
        <xs:element name="LegacySessionId">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="yes">
              <xs:element name="SessionIdLength" type="xs:unsignedByte" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="SessionId" type="xs:hexBinary" dfdl:length="{../SessionIdLength}" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CipherSuites">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="yes">
              <xs:element name="CipherSuitesLength" type="xs:unsignedShort" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="CipherSuite" type="xs:hexBinary" dfdl:length="2" dfdl:encoding="UTF-8" dfdl:leadingSkip="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LegacyCompressionMethods">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="yes">
              <xs:element name="CompressionMethodsLength" type="xs:unsignedByte" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="CompressionMethod" type="xs:hexBinary" dfdl:length="1" dfdl:encoding="UTF-8" dfdl:leadingSkip="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Extensions">
          <xs:complexType>
            <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="yes">
              <xs:element name="ExtensionsLength" type="xs:unsignedShort" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
              <xs:element name="Extension" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence dfdl:sequenceKind="ordered" dfdl:initiatedContent="yes">
                    <xs:element name="ExtensionType" type="xs:unsignedShort" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
                    <xs:element name="ExtensionDataLength" type="xs:unsignedShort" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
                    <xs:element name="ExtensionData" type="xs:hexBinary" dfdl:length="{../ExtensionDataLength}" dfdl:encoding="UTF-8" dfdl:leadingSkip="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>