results/1.0/SQLITE3-DB/sqlite3-db-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://www.example.org/SQLITE3-DB" 
  xmlns="http://www.example.org/SQLITE3-DB" 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified" 
  version="1.0"
>
  <xs:element name="SQLITE3-DB">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="databaseHeader" type="DatabaseHeaderType"/>
        <xs:element name="page" type="PageType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DatabaseHeaderType">
    <xs:sequence>
      <xs:element name="magic" type="xs:hexBinary" fixed="7372 6865"/>
      <xs:element name="magicFormat" type="xs:unsignedShort" fixed="2"/>
      <xs:element name="pageSize" type="xs:unsignedShort"/>
      <xs:element name="fileFormatWriteVersion" type="xs:unsignedByte"/>
      <xs:element name="fileFormatReadVersion" type="xs:unsignedByte"/>
      <xs:element name="reservedSpace" type="xs:unsignedByte"/>
      <xs:element name="maxEmbeddedPayloadFraction" type="xs:unsignedByte"/>
      <xs:element name="minEmbeddedPayloadFraction" type="xs:unsignedByte"/>
      <xs:element name="leafPayloadFraction" type="xs:unsignedByte"/>
      <xs:element name="fileChangeCounter" type="xs:unsignedInt"/>
      <xs:element name="sizeInPages" type="xs:unsignedInt"/>
      <xs:element name="firstFreelistTrunkPage" type="xs:unsignedInt"/>
      <xs:element name="numberOfFreelistPages" type="xs:unsignedInt"/>
      <xs:element name="schemaCookie" type="xs:unsignedInt"/>
      <xs:element name="schemaFormatNumber" type="xs:unsignedInt"/>
      <xs:element name="defaultPageCacheSize" type="xs:unsignedInt"/>
      <xs:element name="largestRootBtreePage" type="xs:unsignedInt"/>
      <xs:element name="textEncoding" type="xs:unsignedInt"/>
      <xs:element name="userVersion" type="xs:unsignedInt"/>
      <xs:element name="incrementalVacuumMode" type="xs:unsignedInt"/>
      <xs:element name="applicationId" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PageType">
    <xs:choice>
      <xs:element name="pageHeader" type="PageHeaderType"/>
      <xs:element name="btreePage" type="BTreeNodeType"/>
      <xs:element name="overflowPage" type="OverflowPageType"/>
      <xs:element name="freelistTrunkPage" type="FreelistTrunkPageType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PageHeaderType">
    <xs:sequence>
      <xs:element name="pageType" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <assert>value = 1 or value = 2 or value = 5</assert>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstFreeblock" type="xs:unsignedShort"/>
      <xs:element name="numberOfCells" type="xs:unsignedShort"/>
      <xs:element name="cellOffset" type="xs:unsignedShort"/>
      <xs:element name="numFreeBytes" type="xs:unsignedByte"/>
      <xs:element name="fragmentedFreeBytes" type="xs:unsignedByte"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BTreeNodeType">
    <xs:sequence>
      <xs:element name="leftChild" type="xs:unsignedInt"/>
      <xs:element name="rightChild" type="xs:unsignedInt"/>
      <xs:element name="cell" type="CellType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OverflowPageType">
    <xs:sequence>
      <xs:element name="nextPage" type="xs:unsignedInt"/>
      <xs:element name="payload" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <length>variable length</length>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreelistTrunkPageType">
    <xs:sequence>
      <xs:element name="nextTrunkPage" type="xs:unsignedInt"/>
      <xs:element name="numberOfFreePages" type="xs:unsignedInt"/>
      <xs:element name="freePageList" type="xs:unsignedInt" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CellType">
    <xs:sequence>
      <xs:element name="payloadLength" type="xs:unsignedInt">
        <xs:annotation>
          <xs:appinfo>
            <length>variable length</length>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="rowid" type="xs:unsignedInt">
        <xs:annotation>
          <xs:appinfo>
            <length>variable length</length>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="payload" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <length>variable length</length>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>