results/1.0/TLS-Client-Hello/tls-client-hello-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com" 
           xmlns="http://example.com" 
           elementFormDefault="qualified">
  <xs:element name="clientHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="legacyVersion" type="xs:unsignedShort"/>
        <xs:element name="random" type="xs:hexBinary">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:length kind="fixed" length="32"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="legacySessionIdLength" type="xs:unsignedByte"/>
        <xs:element name="legacySessionId" type="xs:hexBinary">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:length kind="prefixed" lengthType="unsignedByte" lengthField="legacySessionIdLength"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="cipherSuitesLength" type="xs:unsignedShort"/>
        <xs:element name="cipherSuites" type="xs:hexBinary">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:length kind="expression" length="cipherSuitesLength * 2"/>
              <dfdl:occursCount kind="expression" occursCount="cipherSuitesLength / 2"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="compressionMethodsLength" type="xs:unsignedByte"/>
        <xs:element name="compressionMethods" type="xs:unsignedByte"/>
        <xs:element name="extensionsLength" type="xs:unsignedShort"/>
        <xs:element name="extensions" type="extensionType">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:length kind="expression" length="extensionsLength"/>
              <dfdl:occursCount kind="expression" occursCount="extensionsLength / 6"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="extensionType">
    <xs:sequence>
      <xs:element name="extensionType" type="xs:unsignedShort"/>
      <xs:element name="extensionDataLength" type="xs:unsignedShort"/>
      <xs:element name="extensionData" type="extensionDataType">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="extensionDataLength"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extensionDataType">
    <xs:choice>
      <xs:element name="supportedVersions" type="supportedVersionsType"/>
      <xs:element name="keyShare" type="keyShareType"/>
      <xs:element name="preSharedKey" type="preSharedKeyType"/>
      <xs:element name="pskKeyExchangeModes" type="pskKeyExchangeModesType"/>
      <xs:element name="earlyData" type="earlyDataType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="supportedVersionsType">
    <xs:sequence>
      <xs:element name="versionsLength" type="xs:unsignedShort"/>
      <xs:element name="versions" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="versionsLength"/>
            <dfdl:occursCount kind="expression" occursCount="versionsLength / 2"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="keyShareType">
    <xs:sequence>
      <xs:element name="clientSharesLength" type="xs:unsignedShort"/>
      <xs:element name="clientShares" type="clientShare">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="clientSharesLength"/>
            <dfdl:occursCount kind="expression" occursCount="clientSharesLength / 6"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientShare">
    <xs:sequence>
      <xs:element name="group" type="xs:unsignedShort"/>
      <xs:element name="keyExchangeLength" type="xs:unsignedShort"/>
      <xs:element name="keyExchange" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="keyExchangeLength"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preSharedKeyType">
    <xs:sequence>
      <xs:element name="identitiesLength" type="xs:unsignedShort"/>
      <xs:element name="identities" type="identity">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="identitiesLength"/>
            <dfdl:occursCount kind="expression" occursCount="identitiesLength / 6"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="identity">
    <xs:sequence>
      <xs:element name="identityLength" type="xs:unsignedShort"/>
      <xs:element name="identityData" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="identityLength"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="obfuscatedTicketLength" type="xs:unsignedShort"/>
      <xs:element name="obfuscatedTicket" type="xs:hexBinary">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="obfuscatedTicketLength"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pskKeyExchangeModesType">
    <xs:sequence>
      <xs:element name="keModesLength" type="xs:unsignedByte"/>
      <xs:element name="keModes" type="xs:unsignedByte">
        <xs:annotation>
          <xs:appinfo>
            <dfdl:length kind="expression" length="keModesLength"/>
            <dfdl:occursCount kind="expression" occursCount="keModesLength"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="earlyDataType">
    <xs:sequence>
      <xs:element name="maxEarlyDataSize" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>