results/0.0/GZIP/gzip-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/GZIP"
           xmlns="http://example.com/GZIP"
           elementFormDefault="qualified">

  <xs:include schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/XMLSchema/DFDL.xsd"/>

  <xs:element name="gzipFile" type="gzipFileType" dfdl:representation="binary" dfdl:encoding="utf-8"/>

  <xs:complexType name="gzipFileType">
    <xs:sequence>
      <xs:element name="gzipHeader" type="gzipHeaderType" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x8b1f"/>
      <xs:element name="compressedData" type="xs:hexBinary" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x0000ffff"/>
      <xs:element name="gzipFooter" type="gzipFooterType" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x0000ffff"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gzipHeaderType">
    <xs:sequence>
      <xs:element name="id1" type="xs:unsignedByte" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x1f"/>
      <xs:element name="id2" type="xs:unsignedByte" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x8b"/>
      <xs:element name="cm" type="xs:unsignedByte" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x08"/>
      <xs:element name="flags" type="xs:unsignedByte" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x00"/>
      <xs:element name="mtime" type="xs:unsignedInt" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x0000ffff"/>
      <xs:element name="xflags" type="xs:unsignedByte" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x00"/>
      <xs:element name="os" type="xs:unsignedByte" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0xff"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gzipFooterType">
    <xs:sequence>
      <xs:element name="crc16" type="xs:unsignedShort" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x0000"/>
      <xs:element name="isize" type="xs:unsignedInt" dfdl:occurs="1..1" dfdl:initiatedContent="true" dfdl:terminator="0x0000ffff"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>