results/0.0/GZIP/gzip-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/gzip"
           xmlns="http://example.com/gzip"
           elementFormDefault="qualified">
  <xs:import namespace="http://www.ogf.org/dfdl/dfdl-1.0/" schemaLocation="http://www.ogf.org/dfdl/dfdl-1.0/dfdl.xsd"/>
  <xs:element name="gzip">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID1" type="xs:unsignedByte" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert test="{ID1 = 0x1F}"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="ID2" type="xs:unsignedByte" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert test="{ID2 = 0x8B}"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="CM" type="xs:unsignedByte" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert test="{CM = 8}"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="FLAGS" type="xs:unsignedByte" maxOccurs="1" minOccurs="1"/>
        <xs:element name="MTIME" type="xs:unsignedInt" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byteOrder>big</dfdl:byteOrder>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="XFL" type="xs:unsignedByte" maxOccurs="1" minOccurs="1"/>
        <xs:element name="OS" type="xs:unsignedByte" maxOccurs="1" minOccurs="1"/>
        <xs:element name="EXTRA" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="XLEN" type="xs:unsignedShort" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:byteOrder>little</dfdl:byteOrder>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element name="EXTRA_DATA" type="xs:unsignedByte" maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:length>XLEN</dfdl:length>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FNAME" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FNAME_DATA" type="xs:unsignedByte" maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:termination>0x00</dfdl:termination>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FCOMMENT" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FCOMMENT_DATA" type="xs:unsignedByte" maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <dfdl:termination>0x00</dfdl:termination>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HCRC" type="xs:unsignedShort" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:assert test="{parent::FLAGS bitAnd 0x02 = 0x02}"/>
              <dfdl:byteOrder>little</dfdl:byteOrder>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="COMPRDATA" type="xs:unsignedByte" maxOccurs="unbounded" minOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:length>*</dfdl:length>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="ISIZE" type="xs:unsignedInt" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byteOrder>little</dfdl:byteOrder>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="CRC32" type="xs:unsignedInt" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byteOrder>little</dfdl:byteOrder>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>