results/0.25/Bitcoin-transactions/bitcoin-transactions-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/Bitcoin" 
           xmlns="http://example.com/Bitcoin" 
           elementFormDefault="qualified">
  <xs:element name="transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" type="xs:integer"/>
        <xs:element name="numInputs" type="varInt"/>
        <xs:element name="inputs" type="inputType" maxOccurs="unbounded"/>
        <xs:element name="numOutputs" type="varInt"/>
        <xs:element name="outputs" type="outputType" maxOccurs="unbounded"/>
        <xs:element name="lockTime" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="inputType">
    <xs:sequence>
      <xs:element name="txid" type="xs:hexBinary"/>
      <xs:element name="vout" type="xs:integer"/>
      <xs:element name="scriptSigLength" type="varInt"/>
      <xs:element name="scriptSig" type="xs:hexBinary"/>
      <xs:element name="sequence" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputType">
    <xs:sequence>
      <xs:element name="value" type="xs:integer"/>
      <xs:element name="scriptPubKeyLength" type="varInt"/>
      <xs:element name="scriptPubKey" type="xs:hexBinary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="varInt">
    <xs:restriction base="xs:integer">
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:appinfo>
      <dfdl:format>
        <dfdl:property ref="encoding" dfdl:constantValue="binary"/>
      </dfdl:format>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>