results/0.25/ARP/arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/ARP"
           xmlns:arp="http://example.com/ARP"
           elementFormDefault="qualified">

  <xs:include schemaLocation="arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd"/>

  <xs:element name="arp" type="arp:ARPType" dfdl:format="binary" dfdl:byteOrder="bigEndian"/>

  <xs:complexType name="ARPType">
    <xs:sequence>
      <xs:element name="hardwareType" type="xs:unsignedShort" dfdl:length="2" dfdl:byteOrder="bigEndian"/>
      <xs:element name="protocolType" type="xs:unsignedShort" dfdl:length="2" dfdl:byteOrder="bigEndian"/>
      <xs:element name="hardwareAddressLength" type="xs:unsignedByte" dfdl:length="1"/>
      <xs:element name="protocolAddressLength" type="xs:unsignedByte" dfdl:length="1"/>
      <xs:element name="operation" type="xs:unsignedShort" dfdl:length="2" dfdl:byteOrder="bigEndian"/>
      <xs:element name="senderHardwareAddress" type="xs:hexBinary" dfdl:length="6" dfdl:byteOrder="bigEndian"/>
      <xs:element name="senderProtocolAddress" type="xs:unsignedInt" dfdl:length="4" dfdl:byteOrder="bigEndian"/>
      <xs:element name="targetHardwareAddress" type="xs:hexBinary" dfdl:length="6" dfdl:byteOrder="bigEndian"/>
      <xs:element name="targetProtocolAddress" type="xs:unsignedInt" dfdl:length="4" dfdl:byteOrder="bigEndian"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>