results/0.25/ARP/arp-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://www.ogf.org/dfdl/arp/"
           xmlns="http://www.ogf.org/dfdl/arp/"
           elementFormDefault="qualified">

  <xs:element name="arp">
    <xs:complexType dfdl:lengthKind="implicit">
      <xs:sequence>
        <xs:element name="hardwareType" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="protocolType" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="hardwareAddressLength" type="xs:unsignedByte" dfdl:representation="binary"/>
        <xs:element name="protocolAddressLength" type="xs:unsignedByte" dfdl:representation="binary"/>
        <xs:element name="operation" type="xs:unsignedShort" dfdl:representation="binary"/>
        <xs:element name="senderHardwareAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" type="xs:hexBinary" dfdl:length="{../hardwareAddressLength}" dfdl:representation="binary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="senderProtocolAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" type="xs:hexBinary" dfdl:length="{../protocolAddressLength}" dfdl:representation="binary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="targetHardwareAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" type="xs:hexBinary" dfdl:length="{../hardwareAddressLength}" dfdl:representation="binary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="targetProtocolAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" type="xs:hexBinary" dfdl:length="{../protocolAddressLength}" dfdl:representation="binary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>