results/0.0/DICOM/dicom-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           xmlns:dicom="http://dicom.nema.org/" 
           targetNamespace="http://dicom.nema.org/" 
           elementFormDefault="qualified">
  <xs:element name="DICOM" type="dicom:DICOMType"/>
  <xs:complexType name="DICOMType">
    <xs:sequence>
      <xs:element name="FileMetaInformation" type="dicom:FileMetaInformationType"/>
      <xs:element name="ImagePixelData" type="dicom:ImagePixelDataType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FileMetaInformationType">
    <xs:sequence>
      <xs:element name="TransferSyntaxUID" type="dicom:UIDType"/>
      <xs:element name="MediaStorageSOPInstanceUID" type="dicom:UIDType"/>
      <xs:element name="MediaStorageSOPClassUID" type="dicom:UIDType"/>
      <xs:element name="ImplementationClassUID" type="dicom:UIDType" minOccurs="0"/>
      <xs:element name="ImplementationVersionName" type="dicom:LOType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImagePixelDataType">
    <xs:sequence>
      <xs:element name="PatientInformation" type="dicom:PatientInformationType"/>
      <xs:element name="StudyInformation" type="dicom:StudyInformationType"/>
      <xs:element name="SeriesInformation" type="dicom:SeriesInformationType"/>
      <xs:element name="ImageInformation" type="dicom:ImageInformationType"/>
      <xs:element name="PixelData" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PatientInformationType">
    <xs:sequence>
      <xs:element name="PatientName" type="dicom:PNType"/>
      <xs:element name="PatientID" type="dicom:LOType"/>
      <xs:element name="PatientBirthDate" type="dicom:DateType" minOccurs="0"/>
      <xs:element name="PatientSex" type="dicom:CSType" minOccurs="0"/>
      <xs:element name="PatientAge" type="dicom:ASType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StudyInformationType">
    <xs:sequence>
      <xs:element name="StudyInstanceUID" type="dicom:UIDType"/>
      <xs:element name="StudyDate" type="dicom:DateType"/>
      <xs:element name="StudyTime" type="dicom:TimeType"/>
      <xs:element name="StudyDescription" type="dicom:LOType" minOccurs="0"/>
      <xs:element name="StudyID" type="dicom:LOType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeriesInformationType">
    <xs:sequence>
      <xs:element name="SeriesInstanceUID" type="dicom:UIDType"/>
      <xs:element name="SeriesDate" type="dicom:DateType"/>
      <xs:element name="SeriesTime" type="dicom:TimeType"/>
      <xs:element name="SeriesDescription" type="dicom:LOType" minOccurs="0"/>
      <xs:element name="SeriesNumber" type="dicom:ISType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageInformationType">
    <xs:sequence>
      <xs:element name="SOPInstanceUID" type="dicom:UIDType"/>
      <xs:element name="ImageType" type="dicom:CSType"/>
      <xs:element name="ImageOrientation" type="dicom:CSType" minOccurs="0"/>
      <xs:element name="ImagePosition" type="dicom:CSType" minOccurs="0"/>
      <xs:element name="PixelData" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9\.]+"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LOType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PNType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9\s]+"/>
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DateType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}[0-9]{2}[0-9]{2}"/>
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}[0-9]{2}[0-9]{2}"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CSType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]+"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ASType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>