results/0.0/DICOM/dicom-deepseek-ai-deepseek-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://www.example.org/dicom"
           xmlns:dicom="http://www.example.org/dicom"
           elementFormDefault="qualified">

    <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format representation="binary" encoding="ISO-8859-1"/>
        </xs:appinfo>
    </xs:annotation>

    <xs:complexType name="DICOMFormat">
        <xs:sequence>
            <xs:element name="Preamble" type="xs:hexBinary" dfdl:length="128" minOccurs="0"/>
            <xs:element name="Prefix" type="xs:string" dfdl:length="4" fixed="DICM"/>
            <xs:element name="DataElements" type="dicom:DataElementsType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DataElementsType">
        <xs:sequence>
            <xs:element name="DataElement" type="dicom:DataElementType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DataElementType">
        <xs:sequence>
            <xs:element name="Tag" type="dicom:TagType"/>
            <xs:element name="VR" type="xs:string" dfdl:length="2" minOccurs="0"/>
            <xs:element name="ValueLength" type="xs:unsignedShort"/>
            <xs:element name="Value" type="xs:hexBinary" dfdl:length="{../ValueLength}"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TagType">
        <xs:sequence>
            <xs:element name="Group" type="xs:unsignedShort"/>
            <xs:element name="Element" type="xs:unsignedShort"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="DICOM" type="dicom:DICOMFormat"/>

</xs:schema>