results/0.0/Network-Time-Protocol-Version-4/network-time-protocol-version-4-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://www.ogf.org/dfdl/dfdl-1.0/" 
           xmlns="http://www.ogf.org/dfdl/dfdl-1.0/" 
           elementFormDefault="qualified">
  <xs:element name="NTPv4" type="NTPv4Type" dfdl:representation="binary"/>
  <xs:complexType name="NTPv4Type">
    <xs:sequence>
      <xs:element name="LeapIndicator" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="2" dfdl:byteOrder="big"/>
      <xs:element name="VersionNumber" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="3" dfdl:byteOrder="big"/>
      <xs:element name="Mode" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="3" dfdl:byteOrder="big"/>
      <xs:element name="Poll" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="8" dfdl:byteOrder="big"/>
      <xs:element name="Precision" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="8" dfdl:byteOrder="big"/>
      <xs:element name="RootDelay" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="32" dfdl:byteOrder="big"/>
      <xs:element name="RootDispersion" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="32" dfdl:byteOrder="big"/>
      <xs:element name="ReferenceIdentifier" type="xs:unsignedInt" dfdl:representation="binary" dfdl:length="32" dfdl:byteOrder="big"/>
      <xs:element name="ReferenceTimestamp" type="xs:unsignedLong" dfdl:representation="binary" dfdl:length="64" dfdl:byteOrder="big"/>
      <xs:element name="OriginTimestamp" type="xs:unsignedLong" dfdl:representation="binary" dfdl:length="64" dfdl:byteOrder="big"/>
      <xs:element name="ReceiveTimestamp" type="xs:unsignedLong" dfdl:representation="binary" dfdl:length="64" dfdl:byteOrder="big"/>
      <xs:element name="TransmitTimestamp" type="xs:unsignedLong" dfdl:representation="binary" dfdl:length="64" dfdl:byteOrder="big"/>
      <xs:element name="ExtensionFields" occurs="0..*" type="ExtensionFieldType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionFieldType">
    <xs:sequence>
      <xs:element name="FieldType" type="xs:unsignedShort" dfdl:representation="binary" dfdl:length="16" dfdl:byteOrder="big"/>
      <xs:element name="FieldLength" type="xs:unsignedShort" dfdl:representation="binary" dfdl:length="16" dfdl:byteOrder="big"/>
      <xs:element name="FieldValue" type="xs:hexBinary" dfdl:representation="binary" dfdl:lengthField="FieldLength" dfdl:byteOrder="big"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>