results/0.0/Network-Time-Protocol-Version-4/network-time-protocol-version-4-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           targetNamespace="http://example.com/Network-Time-Protocol-Version-4"
           xmlns:tns="http://example.com/Network-Time-Protocol-Version-4"
           elementFormDefault="qualified">

  <xs:include schemaLocation="dfdl.dtd"/>

  <xs:element name="ntpPacket">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:format ref="ntpPacketFormat"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:headerType"/>
        <xs:element name="timestamp" type="tns:timestampType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="headerType">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:format ref="headerFormat"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="leap" type="xs:unsignedByte"/>
      <xs:element name="version" type="xs:unsignedByte"/>
      <xs:element name="mode" type="xs:unsignedByte"/>
      <xs:element name="poll" type="xs:unsignedByte"/>
      <xs:element name="precision" type="xs:unsignedByte"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="timestampType">
    <xs:annotation>
      <xs:appinfo>
        <dfdl:format ref="timestampFormat"/>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seconds" type="xs:unsignedInt"/>
      <xs:element name="fraction" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ntpPacketFormat" type="dfdl:format"/>
  <xs:element name="headerFormat" type="dfdl:format"/>
  <xs:element name="timestampFormat" type="dfdl:format"/>

  <xs:complexType name="format">
    <xs:sequence>
      <xs:element name="representation" type="dfdl:representation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="encoding" type="xs:string" fixed="network"/>
    <xs:attribute name="byteOrder" type="xs:string" fixed="big"/>
  </xs:complexType>

  <xs:complexType name="representation">
    <xs:sequence>
      <xs:element name="byte" type="dfdl:byte" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="byte">
    <xs:attribute name="bitPosition" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="length" type="xs:unsignedInt" use="required"/>
  </xs:complexType>

  <xs:element name="ntpPacketFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="headerFormat"/>
        <xs:element ref="timestampFormat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="headerFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="leap" type="dfdl:byte">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byte bitPosition="0" length="2"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="version" type="dfdl:byte">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byte bitPosition="2" length="3"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="mode" type="dfdl:byte">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byte bitPosition="5" length="3"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="poll" type="dfdl:byte">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byte bitPosition="8" length="8"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="precision" type="dfdl:byte">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:byte bitPosition="16" length="8"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="timestampFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="seconds" type="dfdl:unsignedInt">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:unsignedInt bitPosition="0" length="32"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="fraction" type="dfdl:unsignedInt">
          <xs:annotation>
            <xs:appinfo>
              <dfdl:unsignedInt bitPosition="32" length="32"/>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>