results/1.0/DNS/dns-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
           targetNamespace="http://example.com/DNS" 
           xmlns="http://example.com/DNS" 
           elementFormDefault="qualified">
  <xs:element name="dnsMessage" type="dnsMessageType"/>
  <xs:complexType name="dnsMessageType">
    <xs:sequence>
      <xs:element name="header" type="headerType"/>
      <xs:element name="question" type="questionType" maxOccurs="unbounded"/>
      <xs:element name="answer" type="answerType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="authority" type="authorityType" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="additional" type="additionalType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element name="id" type="xs:unsignedShort"/>
      <xs:element name="qr" type="xs:unsignedByte"/>
      <xs:element name="opcode" type="xs:unsignedByte"/>
      <xs:element name="aa" type="xs:unsignedByte"/>
      <xs:element name="tc" type="xs:unsignedByte"/>
      <xs:element name="rd" type="xs:unsignedByte"/>
      <xs:element name="ra" type="xs:unsignedByte"/>
      <xs:element name="z" type="xs:unsignedByte"/>
      <xs:element name="rcode" type="xs:unsignedByte"/>
      <xs:element name="qdcount" type="xs:unsignedShort"/>
      <xs:element name="ancount" type="xs:unsignedShort"/>
      <xs:element name="nscount" type="xs:unsignedShort"/>
      <xs:element name="arcount" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="questionType">
    <xs:sequence>
      <xs:element name="qname" type="xs:string"/>
      <xs:element name="qtype" type="xs:unsignedShort"/>
      <xs:element name="qclass" type="xs:unsignedShort"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="answerType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:unsignedShort"/>
      <xs:element name="class" type="xs:unsignedShort"/>
      <xs:element name="ttl" type="xs:unsignedInt"/>
      <xs:element name="rdlength" type="xs:unsignedShort"/>
      <xs:element name="rdata" type="xs:hexBinary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorityType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:unsignedShort"/>
      <xs:element name="class" type="xs:unsignedShort"/>
      <xs:element name="ttl" type="xs:unsignedInt"/>
      <xs:element name="rdlength" type="xs:unsignedShort"/>
      <xs:element name="rdata" type="xs:hexBinary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="additionalType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="xs:unsignedShort"/>
      <xs:element name="class" type="xs:unsignedShort"/>
      <xs:element name="ttl" type="xs:unsignedInt"/>
      <xs:element name="rdlength" type="xs:unsignedShort"/>
      <xs:element name="rdata" type="xs:hexBinary"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>