results/0.75/GIF/gif-meta-llama-llama-3.3-70b-instruct-turbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/DFDL/DFDL1.0/"
           targetNamespace="http://example.com/GIF"
           xmlns="http://example.com/GIF"
           elementFormDefault="qualified">

  <xs:include schemaLocation="dfdl.dtd"/>

  <xs:element name="gif-meta-llama-llama">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header" dfdl:occurs="1..1"/>
        <xs:element ref="logicalScreen" dfdl:occurs="1..1"/>
        <xs:element ref="data" dfdl:occurs="0..1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signature" type="xs:string" dfdl:length="3" dfdl:encoding="ASCII"/>
        <xs:element name="version" type="xs:string" dfdl:length="3" dfdl:encoding="ASCII"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="logicalScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="width" type="xs:unsignedShort" dfdl:length="2" dfdl:encoding="bigEndian"/>
        <xs:element name="height" type="xs:unsignedShort" dfdl:length="2" dfdl:encoding="bigEndian"/>
        <xs:element name="packedFields" type="xs:unsignedByte" dfdl:length="1"/>
        <xs:element name="backgroundColor" type="xs:unsignedByte" dfdl:length="1"/>
        <xs:element name="aspectRatio" type="xs:unsignedByte" dfdl:length="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="imageData" type="xs:hexBinary" dfdl:length="*"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>